[2015-02-12 12:59] omaciel opened #1 "All provisioning/automation jobs should publish the FQDN of the system being tested"
I've been told that when people look at our automation results, it is hard for them to see the information about which system was used so that DEV can look into them (ssh or access via the web ui).

Perhaps we should put that information somewhere in the job description (not the logs)?

[2015-02-12 14:55] elyezer commented on #1
The way to add that to description will make public an internal URL

[2015-02-12 17:22] omaciel commented on #1
True. How about only the first part of the name then: ``qe-foreman-rhel66``?

[2015-02-18 14:21] elyezer commented on #1
@omaciel that works. Will try to fix this as soon as possible.

[2015-02-18 14:25] elyezer opened #2 "Add selinux flag for satellite6-installer job"
When triggering Satellite 6 installer job, user should be able to select if he/she wants to install using SELinux in permissive or enforcing mode.

[2015-02-24 13:16] elyezer opened #3 "Configure robottelo to run SAM tests on SAM jobs"
Robottelo expect that a project of type `sam` is configured in order to just run SAM related tests, because this SAM related jobs need to provide that information.

[2015-02-24 13:20] omaciel commented on #3
+1

[2015-02-24 16:52] #3 closed

[2015-02-24 16:58] elyezer opened #5 "Email notifications"
Make all jobs send email notifications to the QA list.

[2015-02-24 19:12] #2 closed

[2015-02-24 20:16] Ichimonji10 commented on #5
Hmm. Is this a good idea? I have an email filter that sends every single email from bugzilla straight to my trash. A similar thing will happen if I get automated emails from Jenkins too, I think.

[2015-02-24 23:30] omaciel commented on #5
@Ichimonji10 I hope you're not blindly dumping emails from Bugzilla into your trash, as some of them could be DEV asking you to provide feedback on a BZ you filed.

Lastly, Jenkins will only send out emails when a build fails (aka nagging mode); if you don't read them then you won't fix failures which means you'll still be nagged by me :)

[2015-02-25 14:27] Ichimonji10 commented on #5
Unfortunately, yes. In the past, I've tried updating bugzilla settings to make it send me only certain emails, such as when I'm mentioned in a comment, when one of the bugs I've created is updated, or when one of the bugs for which I'm listed as the QE contact is updated. But those settings appear to have had no effect. In fact, even when I disabled all emails from bugzilla, I still received an un

[2015-02-25 14:37] elyezer commented on #5
@Ichimonji10 you still receiving emails because by default bugzilla sends email to katello-qa-list. I have created a filter to get those emails and put them on a separated folder. We can talk later about this if you want.

[2015-02-25 14:44] Ichimonji10 commented on #5
@elyezer, that would be helpful.

[2015-02-25 16:27] elyezer opened #7 "Make partition_disk and fix_hostname tasks run conditionally on satellite6-installer job"
Currently those tasks are run if the user is `omaciel`. To improve the job, create two boolean parameters to control if the user want to run those tasks or not.

[2015-02-25 20:24] #7 closed

[2015-02-26 20:15] elyezer opened #10 "Add docker internal and external URLs config to automation jobs"
Robottelo properties file will be updated when https://github.com/SatelliteQE/robottelo/pull/1946 gets merged. Because this automation jobs should be prepared to update the docker URLs in robottelo.properties file.

[2015-02-26 22:56] #10 closed

[2015-04-09 20:12] cswiii opened #18 "Provide ability to toggle/set gpgcheck in installer"
Presently, we specifically disable gpg checking of RPMs due to the fact that we're generally running against test composes.  However, we may want to check against production builds from time to time.

Thus, let's have an option in the installer to toggle <code>gpgcheck=1</code>.  Our default should remain "0", however, for the moment.

[2015-04-27 21:10] Ichimonji10 opened #21 "Handle different server software versions"
Satellite 6.0.7, 6.0.8 and 6.1.0 have been released, more releases will land in the future, and nightly builds are available too. Each version acts a little bit differently, and NailGun currently makes use of that versioning information when determining how to talk to the server. In addition, other parts of Satellite QE's software suite may make use of versioning information in the future. Jenkins

[2015-04-30 13:47] sthirugn opened #22 "Give an option to choose latest vs. latest-stable in satellite6-installer"
Issue:
-------
Right now, by default, satellite6-installer chooses the following. The problem here is that updating symlinks of latest-stable is manual task and is often getting missed in builds which results in faulty builds
* latest-stable

Proposed solution:
------------------------
In satellite6-installer give an option to user to choose between.
* latest
* latest-stable

[2015-04-30 14:51] elyezer commented on #22
:+1:

[2015-04-30 15:40] sthirugn commented on #22
Default can be *latest* with the assumption (an a little note in jenkins UI) that it may be broken sometimes.  If folks really need stable build, they can choose *latest-stable*.

[2015-05-05 13:03] elyezer opened #23 "Satellite 6 test update job"
Create a job that will install from CDN and, after that, update to a more recent compose build.

Components to consider when upgrading:

Core satellite
Capsule
katello-disconnected
katello-agent
puppet agent
Others....?
Assertions/scenarios that need to be exercised:

All existing content within a populated instance is still available/exposed in upgraded instance
All existing content within upgrad

[2015-05-08 14:15] cswiii opened #25 "Provide details in a .txt file regarding product-specific packages installed."
<b>Purpose</b>
Historically we have had build dates in the compose, but that isn't/may not always be the case. Thus, it is (now even more) important to be able to readily provide dev details as to what specific components have been tested.

During an automated install, we should go ahead and put those details aside in text file of some sort for easier retrieval and a record of what is presently th

[2015-05-09 20:34] elyezer commented on #25
`foreman-debug` already catches important information about the machine, what about using it?

[2015-05-09 20:41] sthirugn commented on #25
foreman_debug/installed_packages gives a lot of package names most of which are not are useful to us :/

[2015-05-10 13:39] elyezer commented on #25
Just investigated foreman_debug/installed_packages and it runs `rpm -qa` and store that.

[2015-05-11 16:38] Ichimonji10 opened #27 "Manage Jenkins plugins"
Our Jenkins installation makes use of several plugins. robottelo-ci should be able to manage the plugins that Jenkins has installed. I envision robottelo-ci being able to accomplish the following tasks:

* Given a freshly installed Jenkins instance, make that Jenkins instance install a correct set of plugins.
* Given an existing Jenkins instance, make that Jenkins instance install any missing plug

[2015-05-11 16:39] Ichimonji10 commented on #27
To the best of my knowledge, Jenkins does not offer any method of configuring plugins via a configuration file. However, Jenkins does offer API access to its plugin facilities. For an example of this, check out:

* `http://your-jenkins.example.com/updateCenter/site/default/api/json?pretty=True&depth=10`
* `http://your-jenkins.example.com/pluginManager/api/json?pretty=True&depth=5`

[2015-05-11 16:54] Ichimonji10 commented on #27
There are at least two prominent Python bindings for the Jenkins API:

* [Python Jenkins](http://python-jenkins.readthedocs.org/en/latest/index.html)
* [JenkinsAPI](https://jenkinsapi.readthedocs.org/en/latest/)

The former is compatible only with Python 2, and the latter is compatible with " tested and working on Python 2.6, 2.7 and 3.3." Neither set of bindings has thorough facilities for workin

[2015-05-11 21:50] Ichimonji10 commented on #27
Given the output from this script, you can choose to populate another Jenkins server. For each plugin to install, make  POST request to `BASE_URL/pluginManager/installNecessaryPlugins`. See [this StackOverflow answer](http://stackoverflow.com/a/20848745).

[code]

[2015-05-11 21:56] elyezer commented on #27
@Ichimonji10 thanks for the sample code. I think we can create a tools directory and create a `manage_plugins.py` script/module to handle this.

The script could accept some options, for example:

* To install the missing plugins
* To remove any extra plugins
* To print what is current installed

I can tackle on this if you won't.

[2015-05-12 13:37] Ichimonji10 commented on #27
I'm happy to give this a shot. I'll keep you up to date on how far I get.

[2015-05-12 14:41] elyezer commented on #27
@Ichimonji10 nice.

[2015-05-13 21:20] Ichimonji10 commented on #27
@elyezer, please take a look at my [`plugins`](https://github.com/SatelliteQE/robottelo-ci/compare/master...Ichimonji10:plugins) branch. It provides users with the ability to execute `make setup` and have their Jenkins server updated with the current set of jobs and all missing packages. It also provides users with the `scripts/manage_plugins.py` script, which provides functionality like the follo

[2015-05-15 18:27] Ichimonji10 commented on #27
I've spent some time reading through the source code of [Jenkins API Client](https://github.com/arangamani/jenkins_api_client), a Ruby library. I've picked up two bits of potentially useful knowledge:

* You can uninstall a plugin by making an HTTP POST request to `/pluginManager/plugin/<plugin-name>/doUninstall`. I'm not sure what the contents of the POST request should be. See [here](https://git

[2015-05-15 21:02] elyezer commented on #27
:+1:

[2015-05-28 15:45] cswiii opened #32 "Capsules: Integrate capsule installation/configuration into jenkins"
_Dependencies on
https://github.com/SatelliteQE/automation-tools/issues/185
https://github.com/SatelliteQE/automation-tools/issues/186_

Integrate capsule installation/configuration from automation-tools into something consumable within jenkins.

REQUIREMENTS
- Be able to install capsule from jenkins
- Be able to install multiple capsules at one time.
- Be able to accept parameters used for instal

[2015-06-22 17:43] elyezer opened #35 "Include option to satellite6-installer to install from the beta channel"
Allow installing Satellite 6 using the beta channel.

[2015-06-23 15:49] #35 closed

[2015-07-02 15:52] omaciel opened #37 "Add option to installer to set verbosity"
Current the installer jobs default to passing `-d` to `katello-configure`, which is useful when determining if something went wrong for failed jobs. However, `-d` causes the installer to **not** save the **answer-file** which can also be useful for other tasks.

We should modify our existing jobs to allow the user to determine whether to pass `-d` to the installer or not (see [this](https://github

[2015-07-22 15:03] sthirugn opened #39 "create a new jenkins job to run just rhai tests"
tests/foreman/rhai

Requirements:
1. This job should accept a sat instance and run rhai tests.
2. This job needs to be triggered after the sat UI tests are completed.
3. any failure in rhai should be automatically emailed to rhai team.

[2015-07-24 13:14] elyezer commented on #39
:+1:

[2015-08-10 08:25] jyejare opened #41 "Create a new job to run upgrade automation on Jenkins"
Create a new job that will run Satellite upgrade automation from automation-tools.

[2015-08-12 18:09] sthirugn opened #43 "New jenkins jobs to install from cdn"
- create two new jenkins jobs one each for rhel67 and 71.
- Each job needs its own new vm
- Both jobs should install from cdn
- these vms will keep on running latest sat

[2015-08-13 13:10] jyejare commented on #41
PR #42 has been merged which currently takes care of Satellite Upgrade on RHEL 7 only.

[2015-08-13 13:37] elyezer commented on #43
The jobs are already created and using the same pipeline as downstream and upstream.

[2015-08-13 13:37] #43 closed

[2015-08-13 13:44] sghai opened #44 "Update satellite installer job to show version choice in case of CDN install"

[2015-08-13 20:47] sthirugn commented on #44
Addressed in https://github.com/SatelliteQE/robottelo-ci/pull/45

[2015-08-13 21:01] sthirugn commented on #44
Fully implemented in https://github.com/SatelliteQE/robottelo-ci/pull/45 now

[2015-08-14 06:41] sghai commented on #44
Closing it as its implemented in #45

[2015-08-14 06:41] #44 closed

[2015-08-20 21:11] omaciel opened #47 "Always include logs for every installer job"
It would be great to always include logs (foreman logs included) with every single installer job so that one can grab them from Jenkins itself.

[2015-11-23 13:07] elyezer opened #73 "Not able to generate/update jobs"
Getting the following every time that generate_jobs.sh or update_job.sh is run:

[code]

[2015-11-23 13:23] ehelms commented on #73
You will need master of the Jenkins job builder openstack repository for
that provider as they haven't released it yet. I have a docker container
that sets up the environment correctly if you need it.
On Nov 23, 2015 8:07 AM, "Elyézer Rezende" <notifications@github.com> wrote:

[2015-11-23 16:42] elyezer commented on #73
@ehelms we need this information on README. Thanks for clarifying.

[2015-11-23 16:49] ehelms commented on #73
I will add that.
On Nov 23, 2015 11:42 AM, "Elyézer Rezende" <notifications@github.com>
wrote:

[2015-11-25 14:47] sthirugn opened #78 "Accept Compose name as input parameter and name the jenkins jobs with compose names"
It is difficult to identify the jenkins job runs as they are currently named with job numbers like `#1, #2` etc.  To improve this, may be we need to accept compose name as input parameters and name the jenkins jobs automatically like `6.1.4 Compose 1`

[2015-11-25 19:08] omaciel opened #79 "Move several helper functions from CLI/import to a separate module"
Currently we have several helper methods/functions for `tests/foreman/cli/test_import.py` which, imho, should be moved to a separate module

[2015-11-25 19:12] sthirugn opened #80 "Create new job for running migration tests - tests/foreman/cli/test_import.py"

[2015-11-25 19:13] sthirugn commented on #79
advised @omaciel to move this to robottelo.

[2015-11-25 19:13] #79 closed

[2015-11-26 15:08] elyezer commented on #78
:+1: I will work on it

[2015-11-26 15:21] elyezer commented on #80
They are already been running on the CLI job. Is a separated job needed?

[2015-11-26 15:23] omaciel commented on #80
@elyezer we thought that it would be nice to see them separate from the other jobs, as they are specific to the transition tool... got suggestions for how to better visualize them?

[2015-11-26 16:26] elyezer commented on #80
@omaciel jenkins provide the results separated by test module.This is how to see currently. If you are looking for a separate graph then a new job is the way to go.

If the second options is adopted then I recommend moving that test module to a separated package and create a target for the transition stuff. Just to be accurate on what we have for the other "subtestsuites"

[2015-11-27 15:34] omaciel commented on #80
@elyezer right, I know that Jenkins provides test results for this module... but it sort of gets lost in the middle of all other modules for CLI and, here's what bothers me a bit, sort of loses a bit of its significance. The tests contained within `cli/test_import.py` are 'special' because they are testing the migration process from Satellite 5 to Satellite 6. I think that it is important to see t

[2015-11-27 16:10] sghai commented on #80
+1
Its absolutely make sense to use ISO jobs just for install. + monitor the overall health after install by checking all services along with `hammer ping`.

[2015-11-30 11:05] anarang commented on #39
All the tasks have been completed.
1. We have a job which takes sat instance and run rhai tests.
2. It is triggered after UI tests.
3. The email part was not in place, I just added the after build step for email notification with some email addresses to it for both rhel6/7-rhai jobs.
The issue can be closed now.

[2015-11-30 11:05] #39 closed

[2015-11-30 14:06] sthirugn commented on #80
I vote for ISO jobs install + smoke or tier1 test.

[2015-12-02 12:39] elyezer opened #86 "Update ISO jobs to install and run end to end or tier1 tests"
On https://github.com/SatelliteQE/robottelo-ci/issues/80#issuecomment-160160999 was suggested and improvement for ISO jobs in order to at least make sure that the ISO build is OK. Running end to end or tier1 tests will ensure that.

[2015-12-02 12:39] elyezer commented on #80
Created #86 to handle the ISO job update.

[2015-12-03 13:36] lpramuk opened #88 "Automate existing triggers by using URLTrigger"
https://wiki.jenkins-ci.org/display/JENKINS/URLTrigger+Plugin

By cron like polling at specific url we can trigger build automatically.
For upstream we can poll at ->
https://fedorapeople.org/groups/katello/releases/yum/nightly/katello/RHEL/7/x86_64/repodata/repomd.xml

For downstream we can poll at ->
http://satellite6.server.com/devel/candidate-trees/Satellite/latest-Satellite-6.1-RHEL-7/COMPOSE

[2015-12-03 13:44] elyezer commented on #88
@lpramuk I edited the description to hide the internal URL.

For upstream I think they build packages every 4 hours... and our automation last at least two times that. I think we can leave it triggering by time (currently it is every day at 7pm ET)

[2015-12-03 13:49] lpramuk commented on #88
OK, that is quite often, regular daily for upstream will do.

[2015-12-03 14:09] sthirugn commented on #88
:+1:

[2015-12-04 15:25] elyezer commented on #32
Add options to the job in order to allow switching on and off feature when installing capsule like DHCP.

[2015-12-23 09:03] jyejare opened #101 "Fix Instance Names for Upgrade Automation"
Fix current 'SATELLITE_INSTANCE' and 'CAPSULE_INSTANCE' names, so that Automation will delete previous run instance automatically, instead of human/user intervention in Openstack.

[2015-12-23 16:20] #101 closed

[2015-12-29 08:21] jyejare commented on #41
This has been taken care into PR #42. Anf further additions are/will be going on.

[2015-12-29 08:21] #41 closed

[2016-01-04 14:26] elyezer opened #103 "Betelgeuse test case update job"
Create a job to run Betelgeuse and update information on Polarion for robottelo test cases on daily basis.

[2016-01-04 14:28] elyezer opened #104 "Betelgeuse test run job"
Create a job to run `betelgeuse test-run` for every completed downstream automation job.

[2016-01-04 14:47] elyezer opened #105 "Update automation pipeline"
Robottelo tests are now marked using tiers. Because this, the automation pipeline should be updated to be match the new organization.

The comparison between the old and new pipeline can be seen on the image below.

![automation pipeline 2](https://cloud.githubusercontent.com/assets/48132/12091988/9872cb76-b2e1-11e5-9a9b-98fe7c1e2554.png)

[2016-01-05 02:16] elyezer commented on #1
@omaciel what about if we use internal URL shorter to generate an URL for each system and use it?

[2016-01-05 02:19] elyezer commented on #73
Done on #90 closing this.

[2016-01-05 02:19] #73 closed

[2016-01-05 02:21] elyezer commented on #18
Done on #38, closing this.

[2016-01-05 02:21] #18 closed

[2016-01-05 02:24] elyezer commented on #22
@sthirugn dog food Satellite is being used right now which ensures that always the latest published compose will be installed. With that said, I think we can close this issue. What do you think?

[2016-01-05 14:03] sthirugn commented on #22
Actually this is implemented in https://github.com/SatelliteQE/robottelo-ci/commit/ae03a1901d342316c228827790d7095c46e903e1 and this issue can be closed.

[2016-01-05 14:03] #22 closed

[2016-01-05 15:29] elyezer commented on #22
@sthirugn thanks.

[2016-01-05 17:00] omaciel commented on #1
@elyezer what we could do is generate an artifact (a text file?) that contains `$(hostname)` and anything else that may be useful.

[2016-01-05 17:09] elyezer commented on #1
@omaciel good idea. Will work on this in the mean time as I complete other tasks.

[2016-01-06 16:28] kbidarkar commented on #86
I am planning the VLAN stuff and  I want to sync up with everyone here.
a) So I feel we may not be running Tier2 and Tier3 testcases for ISO builds?
b) So does this also imply that no compute resource testing needs to be performed here for this Job.?

Thoughts and Suggestions Please ?

As configuring the needed infrastructure is time-consuming and needs coordination with eng-ops team, was thinking

[2016-01-06 16:31] omaciel commented on #86
@kbidarkar I'd be ok with running Tier1 only for ISO builds since we only want to make sure that our ISOs are good.

[2016-01-06 16:31] kbidarkar commented on #86
Ok, then would move these full time for Upgrade testing. Thanks for confirming.

[2016-01-06 16:32] cswiii commented on #86
For ISO testing, I think we mostly just need to do sanity testing to assure the bits install and nothing has gone wrong in the packaging process.  So T1 only.

[2016-01-06 16:36] sthirugn commented on #86
I am ok with tier 1 only too.  But I need a way to verify the package versions (atleast for the main foreman and katello packages, may be we can have a list of these packages) between the released cdn version and the iso build.  Perhaps this can be created as a separate issue for tracking.

[2016-01-08 14:24] elyezer opened #111 "Better naming for Satellite Downstream Trigger parameters"
Currently the parameter names are OS, CAPSULE and TOOLS URLs and the OS should be renamed to SAT or SATELLITE since OS stands for Operating System.

[2016-01-11 17:10] omaciel commented on #105
I'd say remove long run all together and let's ask @kbidarkar and @sthirugn to use a `tier3` decorator for those tests.

[2016-01-11 17:14] sthirugn commented on #105
The new pipeline looks good to me.

I disagree with @omaciel's proposal of changing longrun to tier 3.  Longruns take very long time to run and can fail due to cdn timeout and other dependencies which are not directly related to satellite code.  I prefer to keep the long run tests separate to maintain a clean history for tier 3.

[2016-01-11 18:19] omaciel commented on #105
@sthirugn then tier4? **All** tests need to fall into one of the tiers, so pick your poison :)

[2016-01-11 19:24] sthirugn commented on #105
ha ha I thought about tier 4 when I commented earlier, but I didnt know if we can start a new tier.

Anyways tier 4 it is! :)

[2016-01-11 19:51] sthirugn commented on #105
Reopening the issue to address tier 4

[2016-01-12 13:01] elyezer commented on #105
https://github.com/SatelliteQE/robottelo/issues/3222 need to be handled first then we will be able to create the job for it.

I was about to open a separated issue since this one is already done with the current robottelo status, that said, I would handle future improvements on separated issue. But don't worry we can use this issue for that.

[2016-01-12 16:31] elyezer commented on #78
This is already done. Closing.

[2016-01-12 16:31] #78 closed

[2016-01-12 16:37] omaciel commented on #47
Suggestions:
* /var/log/foreman{,-proxy}
* /var/log/katello-installer

[2016-01-12 17:49] elyezer commented on #47
When implementing the code to fix this issue I figured out that the logs can't be copied if the installation fail. Because the fabric task will fail and will return a non-zero return code and jenkins builders fail whenever a non-zero return code is get.

With that said, this will require to ssh into the machine to debug still. I'm planing to close this without adding any change.

[2016-01-12 17:52] omaciel commented on #47
@elyezer how about calling a second task, independent of the first one?

[2016-01-12 17:52] elyezer commented on #1
This is information is available as the parameter of the specified job. Checking the SERVER_HOSTNAME parameter will give the information needed for every single job. With that said there is no difference if you need to click on an artifact or on the parameters link to get that information.

[2016-01-12 17:53] elyezer commented on #47
@omaciel if one build step fails the job stops. Still not being able to get the information that we need.

[2016-01-12 17:55] omaciel commented on #1
@elyezer perhaps we should print out a section at the end of the job's console with information such as:

[code]

[2016-01-12 17:57] omaciel commented on #47
@elyezer how about adding a script to be executed as a post-build action?

[2016-01-12 17:58] elyezer commented on #1
@omaciel that worth since no navigation is required.

[2016-01-12 18:19] elyezer commented on #47
@omaciel working on that. Thanks for the suggestion.

[2016-01-13 06:44] kbidarkar commented on #111
I believe `SATELLITE` would be nice, I can work on this if required ?

[2016-01-13 06:53] kbidarkar commented on #47
@omaciel , @elyezer , how about we running foreman-debug and fetching the single tar file?
I believe all the important files for investigation would have been added to it. May be we would just need to extract it to find all the files.

[2016-01-13 14:05] omaciel commented on #47
@kbidarkar +100

[2016-01-18 19:22] elyezer commented on #111
@kbidarkar feel free to take this issue.

[2016-01-21 13:17] kbidarkar commented on #111
Ok, so the plan would be to update the params for `satellite6-downstream-trigger` as below,
[code]

and for `satellite6-iso-trigger` job as below:
[code]
The plan is to keep the below 2 params as it is.
[code]

[2016-01-22 09:55] #111 closed

[2016-01-22 09:57] kbidarkar commented on #105
Let me work on this, to create job for tier4. :)

[2016-01-22 13:33] kbidarkar commented on #105
Fixed SatelliteQE/robottelo#3222 and we have PR #126

Closing this as per above info.

[2016-01-22 13:33] #105 closed

[2016-01-27 20:32] JacobCallahan opened #135 "Save screenshots in appropriate directory for UI failures"
With the transition to Docker, it looks like we have lost the ability to save screenshots for UI failures. I do not currently know a course to fix the issue.

[2016-01-27 20:36] elyezer commented on #135
The fact that screenshots are not available anymore could be related that now we have more than one slave on jenkins capable of run robottelo jobs. That said, the screenshots may not be available anymore on the workspace because it could not be available on a slave.

The best way to fix this is to publish the screenshots as an artifact of the job. This way we will have the screenshots for every jo

[2016-01-27 20:36] #103 closed

[2016-01-27 20:36] #104 closed

[2016-01-28 20:24] #47 closed

[2016-01-28 21:54] omaciel opened #138 "Clean up workspace before cloning pylarion for betelgeuse"
Running the `satellite6-betelgeuse-test-run-rhel6` fails due to the fact that cloning `pylarion` fails since the checkout already exists:

[code]

Perhaps the `satellite6-betelgeuse.sh` script should perform a 'clean up' and remove things before proceeding?

[2016-01-28 22:02] #138 closed

[2016-01-28 22:22] omaciel opened #139 "The --test-run-id argument for Betelgeuse needs to conform to valid naming convention"
The argument `--test-run-id` used in the `satellite6-betelgeuse-test-run.sh` script needs to be sanitized so not to contain the following characters: ``\/.:*"<>|~!@#$?%^&'*()+`,=``

[2016-01-28 22:46] elyezer commented on #139
https://github.com/SatelliteQE/betelgeuse/pull/23 fix this.

[2016-01-28 23:59] #139 closed

[2016-01-29 15:30] sthirugn opened #141 "foreman debug creation failed"
[PostBuildScript] - Execution post build scripts.
[PostBuildScript] Build is not failure : do not execute script
Archiving artifacts
ERROR: No artifacts found that match the file pattern "foreman-debug.tar.xz". Configuration error?
ERROR: ‘foreman-debug.tar.xz’ doesn’t match anything
Build step 'Archive the artifacts' changed build result to FAILURE
Started calculate disk usage of build
Finished C

[2016-01-29 15:41] #141 closed

[2016-02-02 22:59] elyezer commented on #27
Seems that this issue can be closed. @Ichimonji10 can you check please and close if necessary? Thanks in advance.

[2016-02-02 23:01] elyezer commented on #23
@jyejare can you take a look and see if the current update tests already cover this one?

[2016-02-02 23:04] elyezer commented on #5
We are going to be more selective in terms of sending email. Now we have a higher number of jobs and sending email for everything that is currently built on our jenkins is going definitely spam the list.

I'm closing this issue, future email change are going to be tracked on new issues.

[2016-02-02 23:04] #5 closed

[2016-02-02 23:07] elyezer commented on #25
@cswiii and @sthirugn is this still relevant? If yes can you provide an updated list of packages to look for? Or point out how can I get this information?

[2016-02-03 21:47] sthirugn opened #148 "satellite6-standalone-automation failed"
I triggered the above job with TEST_TYPE = smoke-api and it failed with the following error.  It is not able to escape 'not stubbed' properly.

[code]

[2016-02-03 21:47] sthirugn commented on #148
As a workaround - temporarily I removed '-m not stubbed' directly from jenkins

[2016-02-03 22:54] sthirugn opened #149 "stand-alone-automation failed when triggered with tier1 tests"

[2016-02-04 08:43] rplevka opened #151 "The standalone automation jobs should have a configurable repo/branch URL"
It'd be nice to have the ability to point the automation to our robottelo repo forks in  order to test our code modifications on jenkins before merging them to production. We can keep the SatQE repo as a default choice.

[2016-02-04 16:00] sthirugn commented on #151
:+1:

[2016-02-05 14:37] rplevka commented on #151
the way jenkins grabs the repo:
[code]

[2016-02-05 15:16] sthirugn opened #154 "Intergrate jenkins failure analysis plugin"
https://wiki.jenkins-ci.org/display/JENKINS/Build+Failure+Analyzer

[2016-02-05 15:29] rplevka commented on #154
+1
this might be a pretty neat alternative:
https://wiki.jenkins-ci.org/display/JENKINS/Claim+plugin
- It should be possible to enable claiming of the individual tests inside a build.
- Sticky claiming is supported, so we can tag known issues so they are easily distinguished from the new ones in a new build

[2016-02-08 15:14] jyejare opened #155 "Add Upgrade Automation job in satellite6-downstream-trigger"

[2016-02-08 20:14] Ichimonji10 commented on #27
@elyezer I'm sufficiently out-of-touch enough with robottelo-ci that I don't even know if this issue is still valid or not. Given the lack of activity, I'm going to close this issue. If someone has a desire for what this issue describes, we can re-open it.

[2016-02-08 20:14] #27 closed

[2016-02-08 23:40] #149 closed

[2016-02-09 12:08] oshtaier commented on #135
+1 .It is very important to have access to mentioned screenshots from job artifact section as it is impossible to provide root access to everyone to necessary machines. That issue relates not only to  new approach with Docker, but, in general, it was very hard to operate with that functionality even before.

[2016-02-09 15:47] ehelms commented on #27
I think the spirit of this is good, I didn't look to much at the details. JJB is nice for being able to recreate all of our jobs again if we ever needed to, but re-installing all of the plugins we need would be annoying to hunt and find and test. Thus, having a way to manage the knowledge of those plugins to easily recreate the Jenkins master would be nice.

[2016-02-09 15:57] ifireball commented on #27
I don't think this belongs in this repo, this is essentially a
configuration management issue IMO and should be handled by Puppet (and
there is a module for that...)

On 9 February 2016 at 17:47, Eric D Helms <notifications@github.com> wrote:

--
*Barak Korren*
bkorren@redhat.com
RHEV-CI Team

[2016-02-09 16:42] Ichimonji10 commented on #27
Aye. I wouldn't be surprised to see support for Jenkins provided by Ansible, Chef, Salt and the like too. But there's also a certain learning curve to using all of these tools, and it'd be pretty neat if we could avoid that hassle and instead do the same with a small piece of Python code or a pre-packged Python module.

When I last looked at this issue, I found Jenkins' API to be a nightmare, so I

[2016-02-11 10:02] rplevka commented on #135
- besides screenshots, i'd like to export generated CSV transition files as the artifacts.

[2016-02-11 17:56] elyezer commented on #135
@rplevka please create another issue for your request. I'm gonna work on them when I come back.

[2016-02-11 18:10] elyezer commented on #154
The claim plugin is available on jenkins job builder [1]. The first one mentioned is not available, which makes not easy to manage using the current environment.

Also checking both plugins pages claim have more users than Failure Analyzer. We need to compare both and if they provide similar functionality then the number of users and being supported by JJB can be the decision points.

I'm not posi

[2016-02-11 18:13] elyezer commented on #151
The SCM plugin offers some ways to configure what should be fetched. What I can remember now is that it allows environment variables to define the branch to use. Still need to research about the repository.

As a alternative approach is to call git commands on a shell builder in order to point to the required repository and commit/tag/branch.

[2016-02-11 19:22] sthirugn commented on #154
Claim plugin works together with Build Failure Analyzer from v2.8. As per the doc ::
[code]

So I think we need them both as per the above :)

[2016-02-11 19:32] rplevka commented on #154
@sthirugn :+1:

[2016-02-16 19:38] #1 closed

[2016-02-16 19:52] #148 closed

[2016-02-16 20:56] omaciel opened #164 "Create a Polarion Test Run prior to running Tiered jobs"
We currently wait until our last Tiered job is completed to trigger a Polarion Test Run creation. This Test Run is then populated with the test results obtained from each individual Tiered test's jUnit file. One issue with this approach is that non-stubbed tests are not added to said Test Runs, as they are not contained within the jUnit files.

What we want is to create a Test Run shortly after we

[2016-02-17 18:28] elyezer commented on #88
I'm going to close this since for downstream the jobs are going to be triggered by the release team script and for upstream we will stick with the daily based build trigger.

[2016-02-17 18:28] #88 closed

[2016-02-22 14:39] elyezer commented on #86
#168 fixes this.

[2016-02-22 14:39] #86 closed

[2016-02-22 14:40] elyezer commented on #86
Further improvements should be handled by new issues.

[2016-02-22 14:44] elyezer commented on #155
#161 closes this.

[2016-02-22 14:44] #155 closed

[2016-02-22 20:31] omaciel commented on #37
The original issue was requesting that we provide a mechanism to allow the user running the installer job to choose whether to pass the `-d` flag or not. According to the help method:

``-d, --dont-save-answers       Skip saving answers to '/etc/katello-installer/answers.katello-installer.yaml'? (default: false)``

I think that there's no advantage to **not** saving the answer file, so I'd like to

[2016-02-22 20:32] elyezer commented on #37
@omaciel the flag was dropped a long time ago. This is why me and @kbidarkar was talking about just close this issue.

[2016-02-22 20:33] #37 closed

[2016-02-22 20:33] omaciel commented on #37
Closed as per last comment.

[2016-02-26 11:43] jyejare opened #179 "Upgrade Trigger Job is failing with issue 'Bag Trigger ${{OPENSTACK_CONFIG}}'"
Upgrade Trigger Job is failing with issue 'Bag Trigger ${{OPENSTACK_CONFIG}}'

[2016-03-01 14:14] elyezer opened #188 "Add defaults"
Add some defaults values, the initial values should be defined to store a large number of builds and add a description saying that the job is managed by JJB and that any change on the Jenkins UI is going to be overridden when the jobs gets updated.

[2016-03-01 14:46] sthirugn opened #189 "Update z-stream jobs to use robottelo branch - 6.1.latest"

[2016-03-02 09:36] lpramuk commented on #151
I tested the following config and it works:

Created new String Parameter named ```GIT_PROJECT``` and adjusted SCM Repository URL to:
```https://github.com/${GIT_PROJECT}/automation-tools.git```

[2016-03-04 17:40] #188 closed

[2016-03-07 13:40] elyezer commented on #151
We should also add the possibility to change the branch.

[2016-03-11 12:31] kbidarkar commented on #189
Fixed/created in #204 and #208

[2016-03-11 12:34] #189 closed

[2016-03-23 01:43] sthirugn commented on #151
@rplevka PR https://github.com/SatelliteQE/robottelo-ci/pull/223 should take care of this.  Do you need anything else here?

[2016-03-23 18:14] rplevka commented on #151
@sthirugn that'd be it, thanks a lot!

[2016-03-23 18:14] #151 closed

[2016-03-23 18:50] sthirugn commented on #151
Awesome, hopefully there wont be a need to user clone this job in future :)

[2016-03-30 14:28] elyezer opened #230 "Run transitioning tests in serial mode instead of parallel"
Transitioning tests are supposed to be run in serial since the characteristic of the import feature. This will drop the failures on jenkins.

This is related to https://github.com/SatelliteQE/robottelo/issues/3291

[2016-03-31 15:25] rplevka opened #232 "satellite6-downstream-trigger build labels should be automatically tagged by Compose ID"
hey, I think it would be great to have proper labels for the builds of `satellite6-downstream-trigger` job as this is the root of whole downstream automation chain.
This way it would be easier to browse downstream builds for a specific Compose

[2016-04-04 12:06] elyezer commented on #230
This is already done. Closing.

[2016-04-04 12:06] #230 closed

[2016-04-04 12:22] #232 closed

[2016-04-18 20:34] sthirugn commented on #154
@rplevka I tried reinstall of plugins with no luck.  It looks like we are blocked with issue - https://issues.jenkins-ci.org/browse/JENKINS-33715.  Hopefully the fix for this is in https://github.com/jenkinsci/claim-plugin/pull/21. Lets see how it goes.

[2016-04-19 07:47] rplevka commented on #154
@sthirugn thanks for analysis and reporting the issue! :100:

[2016-04-24 11:03] elyezer opened #249 "Improve Satellite 6 Automation Pipeline"
The automation pipeline currently runs as follows:
1. Provisioning
2. Tier1
3. Tier2
4. Tier3
5. RHAI
6. Tier4

The proposal is to maintain the same order but create a new job in order to orchestrate the entire pipeline. This way if provision have already completed and still running the tests the next build will happen only when the previous execution finishes.

The new approach will have the adva

[2016-05-16 21:58] sthirugn opened #262 "DO NOT MERGE any PRs here for another 15 hours from now"
We are modifying jenkins manually to test out few things - this might take 12 to 15 hours.

[2016-05-18 15:33] sthirugn commented on #262
all good now.

[2016-05-18 15:33] #262 closed

[2016-05-18 20:02] sthirugn opened #265 "trigger docker container cleanup after every automation run"
right now the clean up script runs as a cron job

[2016-05-18 20:24] elyezer commented on #265
Need to make sure to trigger this when automation is done for both rhel 6 and 7 otherwise will fail UI tests which use docker browser.

[2016-05-19 02:51] sthirugn opened #266 "Create separate job for robottelo/tests/foreman/cli/test_import.py and trigger it parallely with tier1 tests"
The import tests takes more than 2 hours to execute and it is now running in single thread in the same jenkins job as tier1 but right after tier1 completes.  It may be beneficial if we can create a new jenkins job just for import tests and trigger it parallely with tier1 tests.

[2016-05-19 12:02] elyezer commented on #266
The last time on RHEL 7 was 78 minutes ~1 hour and 18 minutes.

[2016-05-22 17:49] omaciel opened #268 "Job `satellite6-automation-{distribution}-{os}-tier1` is no longer saving `transition-results.xml` as an artifact"
Our `satellite6-automation-report-downstream-{os}` jobs are failing due the fact that we don't seem to be saving the results from all `tests/foreman/cli/_import.py` tests anymore for our `Tier1` tests.

[code]

[2016-05-22 17:49] omaciel commented on #268
@elyezer we need to fix this :)

[2016-05-22 17:49] omaciel commented on #266
Please consider issue #268 when working on this.

[2016-05-23 14:12] elyezer commented on #268
It is already fixed on #267, just the jobs have not run yet after the changes.

[2016-05-23 14:12] #268 closed

[2016-06-07 19:15] sthirugn commented on #265
The new job is now implemented and running every night - https://github.com/SatelliteQE/robottelo-ci/pull/272

[2016-06-07 19:15] #265 closed

[2016-06-09 09:40] kbidarkar opened #294 "Add support for REALM Integration"
1) We need to add support for REALM Integration.
2) REALM is mutually exclusive to DNS capsule Feature
3) Currently REALM Integration only supports IDM.

[2016-06-09 09:47] kbidarkar commented on #294
Will work on this post Satellite6.2 GA, This is heavily dependent on the following infrastructure:
a) updating base images ( rhel68 + rhel72 )
b) Setting up a permanent IDM server for automation ( partially completed at `qe-sat6-ipa.satqe.lab.eng.rdu2.redhat.com`)
c) Working with DNS Servers, Domain Names
d) Some Pre-Planning required for what AD and IDM server domain names are supposed to be used

[2016-06-09 09:51] kbidarkar opened #295 "Add support for External Authentication [ IDM + AD + Cross REALM Trust IDM and AD ]"
1) Need support for External Authentication ( kerberos + SSO )
2) This also requires setting up client side Infra to test.

Will work on this post Satellite6.2 GA, This is heavily dependent on the following infrastructure:
a) updating base images ( rhel68 + rhel72 )
b) Setting up a permanent IDM server for automation ( partially completed at qe-sat6-ipa.satqe.lab.eng.rdu2.redhat.com)
c) Working wi

[2016-06-09 11:41] kbidarkar commented on #249
Also it will be very nice to have the automation use different nodes for different Tiers.
a) `Tier1` and `Tier2` for unit-tests/CRUD functionality testing/ All API  tests in here on node `Box1`.

b) `RHAI`, `Tier3` and `Tier4` with functionality test cases , which requires isolated VLANs. Also none of the tests for this Tier should be using data-driven/subTests. some of the scenarios which fall un

[2016-06-09 12:22] kbidarkar commented on #249
API Creates dummy data in the sense,
a) Fake Capsule running with multiple fake Capsule features on a fake port, without the Capsule actually in existence. Any calls to remove the hosts or content-hosts associated with the capsule would result in http://pastebin.test.redhat.com/382121
b) Fake hosts/content-hosts, this needs to be avoided as it may complicate issues similar to a)

[2016-06-09 12:42] rochacbruno commented on #249
- Provisioning
- **Snapshot**
- Tier1
- **Reset + Snapshot restore**
- Tier2
- **Reset + Snapshot restore**
- Tier3
- **Reset + Snapshot restore**
- RHAI
- **Reset + Snapshot restore**
- Tier4

Currently we are having too much trouble to cleanup the entities that are left in the system between tiers, on a system with too many organizations some features does not works well  (manifest import, dashb

[2016-06-09 12:55] kbidarkar commented on #249
Agreed, that is a good idea. But we have this bug here, https://bugzilla.redhat.com/show_bug.cgi?id=1321951

And from past experiences, unless we have a GA build, I keep seeing this `satellite-installer --reset` break most of the times.

Also we had to disable `RESET` now due to the above bug mentioned, https://github.com/SatelliteQE/robottelo-ci/pull/287  :(

[2016-06-09 13:53] elyezer commented on #249
@kbidarkar is snapshot taking an easy thing to do with libvirt? If that is the case than taking snapshot and restoring it looks promising.

[2016-06-14 09:34] jyejare commented on #179
The issue is no longer valid as we moved out of openstack and switched to RHEVM.

[2016-06-14 09:34] #179 closed

[2016-06-22 22:48] rochacbruno opened #305 "Add a log parser/viewer plugin to jenkins"
I was thinking if it is possible to add a log parser & viewer to Jenkins?

Currently we have the "console", "full console" and "artifacts" but when opening it we see the raw data which is nice sometimes.

But there are times when we just need a quick view (and if possible we should improve our log levels to be better categorized)

I found this two plugins (but maybe someone else knows other option

[2016-06-23 13:36] elyezer commented on #305
A better log view is definitely a good thing, the main issue right now is that robottelo's output is 99% debug level.

[2016-06-23 13:37] elyezer commented on #305
I like the first option more, the colors help identify the issues easily but it will be useful when robottelo outputs more meaningful logs.

[2016-06-23 13:38] rochacbruno opened #306 "Add threaded logs to artifacts"
Since https://github.com/SatelliteQE/robottelo/pull/3564 is merged we need to:

When `ROBOTTELO_WORKERS` > 1, in the build finish we need to:
- Add a call to `make logs-join`
- Add a call to `make logs-clean`
- move robottelo*.log to artifacts

and take a look at #305

[2016-06-23 13:40] elyezer commented on #306
You just need to add the new file pattern here https://github.com/SatelliteQE/robottelo-ci/blob/master/jobs/publishers/satellite6_automation_publishers.yaml#L5

[2016-06-23 13:40] rochacbruno commented on #305
@elyezer yeah, so I think the next step would be improving the log categorization on robottelo

[2016-06-23 13:41] elyezer commented on #306
The call to the make targets can be added somewhere after the test execution command on this file: https://github.com/SatelliteQE/robottelo-ci/blob/master/scripts/satellite6-automation.sh

[2016-06-23 13:42] rochacbruno commented on #306
The call to `robottelo*.log` is already there

[2016-06-23 13:42] elyezer commented on #306
@rochacbruno left some help comments I think this is a good opportunity for you to send a robottelo-ci PR :smile:

[2016-06-23 13:43] elyezer commented on #305
@rochacbruno let's wait at least one more opinion about the plug in and we can enable to see how it will look.

[2016-06-23 13:44] rochacbruno commented on #306
@elyezer thanks, I'll do that

[2016-06-23 14:18] omaciel commented on #305
+1 for the first plugin

[2016-06-23 23:48] elyezer commented on #305
Checked the Jenkins Job Builder and currently it just offers support for the second plugin [1]. I will take a better look tomorrow and see if there is another plugin to parse the logs that JJB supports.

[1] http://docs.openstack.org/infra/jenkins-job-builder/publishers.html#publishers.logparser

[2016-06-24 12:59] sthirugn commented on #305
It is difficult to see how one is beneficial than the other without actually using it.  We can try both and keep the one we like?

[2016-06-24 13:02] elyezer commented on #305
currently just the second is available on JJB, we can add the first manually but it will be overridden as soon as the update jobs job runs.

[2016-06-24 17:45] sthirugn opened #309 "Implement reliable satellite reset"
as per https://github.com/SatelliteQE/robottelo-ci/pull/304#discussion_r68433607

[2016-06-27 14:19] kbidarkar opened #310 "Update Tier jobs to use automation-tools functions for creating and destroying vms"
a) Tier jobs should use automation-tools functions for creating and destroying vms

[2016-06-27 19:36] kbidarkar commented on #309
Fixed in https://github.com/SatelliteQE/robottelo-ci/pull/311

[2016-06-28 11:36] elyezer commented on #309
@sthirugn @kbidarkar are we ready to close this?

[2016-06-28 18:04] kbidarkar commented on #309
yes, we can close this now, it works fine.

[2016-06-28 18:04] #309 closed

[2016-06-29 22:11] rochacbruno opened #318 "add --force option to installer job to allow re-installation on existing systems."
If you have satellite currently installed and wants to re-install you can do manually using:

[code]

and then this long command

[code]

Because of the long command above, using **satellite6 installer job on jenkins is useful, but it is currently failing because it misses **--force** option. (the error says you are trying to reinstall in existing system)

So we can have a new job: **satellite6-re

[2016-06-29 22:25] omaciel commented on #318
It would be great if all other tasks involved in the installation (eg. creating repo files, enable/disabling repos, firewall rules, etc) could be smart enough so that re-installing could avoid repeating some steps if things have already been done or do them so that you don't end up with multiple artifacts.

[2016-06-29 22:34] omaciel commented on #318
Maybe we already do all these things?  😃

[2016-07-04 12:19] elyezer commented on #318
Considering the fact that we are looking for a smart tool, and things should be done only if they are not applied I would recommend porting everything to ansible. It already have the "do if needed" feature by default.

Not all tasks check for things being present and a great refactor will be needed if we decided to do that for the fabric tasks.

[2016-07-06 19:10] rochacbruno opened #319 "add ROBOTTELO_WORKERS option to standalone automation"
Automation has a field to choose number of threads, we can add the same to StandAuto

[2016-07-07 20:00] #306 closed

[2016-07-08 09:35] abalakh commented on #135
@elyezer @JacobCallahan  can we close this? I believe it's already addressed.

[2016-07-08 17:56] elyezer commented on #135
Screenshots are available for every automation job I think we are safe to close this.

Thanks @abalakh for the observation.

[2016-07-08 17:56] #135 closed

[2016-07-15 21:43] omaciel opened #320 "Run foreman-debug at the end of a Tier and save the artifact"
This would help provide valuable feedback when debugging issues.

[2016-07-19 13:49] elyezer commented on #320
There is already foreman-debug capturing script see https://github.com/SatelliteQE/robottelo-ci/blob/42533156faf5eb9dc9a59e582a680df92f0d4d48/scripts/satellite6-automation-foreman-debug.sh. Also on satellite6-automation.yaml file there is a sample usage of it.

[2016-07-19 13:59] omaciel commented on #320
Can we then add it to the tiered jobs and save the artifact?

[2016-07-19 14:00] elyezer commented on #320
Yes, the best way is to create a macro and add it to the jobs.

[2016-07-20 13:14] rochacbruno opened #324 "Evaluate the removal of --boxed"
As per coversation with @elyezer in robottelo#3626 we should evaluate the removal of `--boxed` in our CI jobs.

`--boxed` is creating a new process for each test case which is taking too much time because all the entities created in setupclass cannot be reused for tests.

[2016-07-20 18:43] #324 closed

[2016-07-25 09:52] kbidarkar commented on #318
@omaciel, @elyezer, we need to decide on this quickly, I mean move to ansible and if we decide to then we need to start it qucikly. :)

I say so because I need to add multiple features to our setup.

[2016-07-25 12:08] kbidarkar opened #330 "Create a jenkins job to populate the required stuff for satellite"
a) The job should be able to re-run
b) The job should be able to specify various custom names of satellite entities
c) We should be able to populate the entire satellite entites from creating custom products, syncing repo, publish, promote, creating host-groups, ak's , e.t.c

[2016-07-25 13:58] kbidarkar commented on #330
The current plan is to populate the following entities in the initial PR.
List of entities to cover:

Initial PR / stage1:
----------------
* [x] `Allow the usage of custom Organization`
* [x] `Allow the usage of custom Location`
* [x] `Add Life-cycle environments to default or specified ORG`
* [x] `Fetch and Import manifest from Manifest Server`
* [x] `Enable RH- Repos like Base OS and Kickstart

[2016-07-25 16:04] ehelms commented on #330
I would strongly recommend starting with tooling that can do this, and then wrapping that in a Jenkins job for additional automation. That way, users can use the tool at their own discretion or use the Jenkins job. This also makes debugging and such easier.

How are you planning to implement the population automation currently?

[2016-07-26 08:37] kbidarkar commented on #330
I have a shell script which automates stuff till the steps mentioned in Stage2 and so wanted to quickly add it so as to have a jenkins job.
I am not sure if I can make it into a tool but, but will try to definitely keep the script in a way that it can be used without jenkins job.
Will have a quick jenkins job till stage1 and share it, I think that could give some idea.

[2016-07-26 16:17] ehelms commented on #330
@kbidarkar I'd love to take a look at the script as I look more into supporting entity creation and management through Ansible.

[2016-07-26 17:18] kbidarkar commented on #330
May be I should holdon I am getting wonderful suggestions on this task. Me new to ansible so if someone who already explored ansible enough starts it, I would love to learn+contribute to it.

[2016-07-26 17:19] kbidarkar commented on #330
In the meantime let me just finalize my script.

[2016-07-26 17:25] rochacbruno commented on #330
@kbidarkar I can help you after you finalzie the script.

I am playing a bit with Ansible [here](https://github.com/SatelliteQE/sat6helper/tree/master/dev/playbooks) and [here](https://github.com/rochacbruno/ansible-satellite6-install) - The latest is a sat6 installer got from Ansible Galaxy, maybe we can move that fork to our github and improve that together.

[2016-07-26 19:12] elyezer commented on #318
@kbidarkar I think is better to you make the call. What do you think?

My opinion is that doing in ansible is more reasonable because in addition to what I've mentioned above, we can leverage ansible features and make, for example, satellite6-installer install satellite on 1 or more machines on the same job for example.

On the other hand, porting the entire automation-tools will require time and

[2016-07-26 20:10] rochacbruno commented on #318
The migration can be gradual, we can call fabric tasks from ansible and then, migrate one by one to pure ansible task.

[2016-07-27 12:52] rochacbruno commented on #320
Also important logs to save (sent by @rplevka  in IRC)

[code]

[2016-07-27 12:53] rplevka commented on #320
@rochacbruno all of those should be collected by the `foreman-debug` tools

[2016-07-27 19:57] kbidarkar commented on #320
this is fixed in https://github.com/SatelliteQE/robottelo-ci/pull/332

[2016-07-27 21:37] #320 closed

[2016-07-29 14:07] sthirugn opened #335 "Pass RELEASE parameter to betelgeuse run job"

[2016-07-29 18:57] kbidarkar commented on #319
Fixed in #333

[2016-07-29 18:57] #319 closed

[2016-07-29 20:06] sthirugn opened #337 "Pass test plan id to `betelgeuse test-run` command instead of test plan name"

[2016-08-01 15:56] #335 closed

[2016-08-01 15:56] #337 closed

[2016-08-05 15:33] sthirugn opened #343 "For beteleguese test run job, create a new RELEASE if the passed RELEASE doesn't exist"
see satellite6-betelgeuse-test-run.sh

[2016-08-19 13:17] rplevka opened #345 "Modify automation pipelines to use the appropriate robotello branches"
After we branched robottelo by satellite versions, we need to point the pipelines to the appropriate branches - mainly the Z-stream one.
Since we now have both Z-strames (6.1.z, 6.2.z) I think we should drop general Z-stream pipeline and define new ones per Satellite version. Eg. 6.1.z, 6.2.z

[2016-08-19 13:36] lpramuk commented on #345
Solution depends on how soon we will have 2nd automation pipeline ready?

Otherwise we have to create switching logic to choose appropriate branch for only 1 pipeline

[2016-08-19 13:53] lpramuk commented on #345
Branch specifier  ```origin/${BRANCH}```

into job script we can add something like:
[code]

[2016-08-24 18:02] elyezer opened #350 "Make satellite6-standalone-automation publish jUnit XML report as an artifact"
After completing a stand alone automation run publish the generated jUnit XML reports as artifacts so it can be downloaded or used by other jobs in order to publish the results.

[2016-08-26 08:38] rplevka opened #351 "Upstream installer does not install plugins which are included in Satellite"
According to our automation and `standalone installer` jobs, installed katello doesn't have plugins installed (discovery, libvirt, etc.) which causes our tests to fail.

I believe we consider `upstream` Katello with all plugins which are bundled together and installed by default in Satellite 6 therefore I'm marking this issue as a bug

[2016-08-26 08:42] lpramuk commented on #351
Yes, seems to correct as we need to test also non-default upstream features which eventually land downstream to detect problems in advance.

[2016-08-26 08:51] sghai commented on #351
That's known issue and I think it should go under automation tools. I'll fix discovery.

[2016-08-26 09:40] lpramuk commented on #351
yeah why robottelo-ci issue? when it's automation-tools related....

[2016-08-26 09:40] #351 closed

[2016-08-30 12:23] rplevka opened #353 "Use uno-choice-plugin to generate dynamic lists of options"
Have discovered the following plugin:
https://github.com/biouno/uno-choice-plugin/wiki/Uno-Choice-Cascade-Dynamic-Choice-Parameter
which should allow us to generate a dynamic set of possible values for dropdown lists based on the previous choices. This should prevent confusion in having contradicting options selected like the following:

![img](http://storage6.static.itmages.com/i/16/0830/h_147255

[2016-09-12 19:55] omaciel commented on #164
Will close this and reconsider whether to re-open it or not later. In the meantime, we will continue to generate our Test Runs at the end of the process.

[2016-09-12 19:55] #164 closed

[2016-09-19 18:25] kbidarkar commented on #345
We the recent jenkins re-org, we can now close this issue.

[2016-09-19 18:26] kbidarkar commented on #345
Fixed in #356

[2016-09-19 18:26] #345 closed

[2016-09-20 15:07] omaciel opened #363 "Make sure to run Tier4 tests for 6.1.z stream"
We're not running `Tier4` tests for our new `6.1.z` stream but we need to. Please add them back.

[2016-09-20 18:14] kbidarkar commented on #363
This is now fixed in #364 PR.

[2016-09-20 18:14] #363 closed

[2016-09-21 13:31] kbidarkar opened #365 "It appears that Upgrade always runs from 61 to 62 via the trigger-satellite6 jobs"
1) I believe it has more to do with how the parameters are being defined rather the upgrade job itself.
2) Running trigger-Satellite6.1 should populate FROM_VERSION=6.0 and TO_VERSION=6.1
3) Running trigger-Satellite6.2 should populate FROM_VERSION=6.1 and TO_VERSION=6.2
4)  Running trigger-Satellite6.2 should populate FROM_VERSION=6.2 and TO_VERSION=6.3

May need to fix as to how we are populatin

[2016-09-21 13:47] kbidarkar opened #366 "trigger-Nightly fails currently"
After the re-org, we see the below issue:
[code]

[2016-09-21 23:13] omaciel opened #367 "Variable POLARION_RELEASE should not contain quotes around it"
Our `polarion-test-run-{satellite_version}-rhel{os}` jobs are failing because when we dynamically generate the variable `POLARION_RELEASE`, we're adding single-quotes around it. Looking at this [code](https://github.com/SatelliteQE/robottelo-ci/blob/3092217adbae7fbc309fc1c66d2c68d29c0c5d91/scripts/satellite6-provisioning.sh#L61-L64):

[code]

I believe that we want to remove the single-quotes:

[c

[2016-09-22 13:49] lpramuk opened #368 "Refactor to use config files out of internal gitlab"
Jenkins config files now live in gitlab to easily track their changes
and to audit who did what and when. And to possibly figure out why.

This issue is for refactoring of jenkins jobs to use these config files.

[2016-09-23 12:23] kbidarkar commented on #367
Fixed in PR https://github.com/SatelliteQE/robottelo-ci/pull/371

[2016-09-23 12:23] #367 closed

[2016-09-23 14:28] elyezer commented on #365
AFAIK the release pipeline is not defining the expected parameters, I think the trigger job should check if the testing version is 6.3 then it should try to upgrade from 6.y-0.1 to 6.y

[2016-09-23 14:31] elyezer commented on #366
This is a simple fix `s/provisioning-nightly-rhel6,provisioning-nightly-rhel7,/provisioning-nightly-rhel6,provisioning-nightly-rhel7/` (remove the trailing comma)

[2016-09-23 14:53] kbidarkar commented on #366
ah!, I was only looking at the job matirx all the while , thanks for the suggestion.

[2016-09-23 19:11] elyezer commented on #366
Fixed in #374

[2016-09-23 19:11] #366 closed

[2016-09-29 22:50] omaciel opened #381 "Update QA workflow to trigger for 6.3 builds"
In order to get our `6.3` automation to run automatically, please add a new build job using the following code:

[code]

[2016-09-29 22:51] omaciel commented on #381
@ehelms in case you missed my message earlier today :)

[2016-10-07 15:47] JacobCallahan opened #385 "Email status when a system fails to provision"
As seen in [1], sometimes a system will fail to provision. Often a rebuild will allow us to proceed. In this case, an email should be sent out to notify us to re-trigger the build.

[1] - https://satellite-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/Satellite6-Triggers/job/provisioning-6.2-rhel6/12/console

[2016-10-07 17:49] elyezer commented on #385
It could be better to include the console output either attaching it or in the body of the email.

[2016-10-19 09:20] rplevka opened #386 "[Design flow] - foreman-debug archiving takes place after machine has been wiped out"
We have a simple script that runs `foreman-debug` and scp-s the archive back to sesame in order to preserve it.
However, there is a cleanup `procedure` defined at the end of the main build command.

As an effect, the `foreman-debug` runs on a machine that has already been wiped out.

Solution:
The `remove_instance()` function has to be run as a standalone post-build step, not as a part of the buil

[2016-10-25 18:51] sthirugn opened #388 "Track and report the time taken for the satellite upgrade process"
I am doing an upgrade of Satellite 6.1 with lotsssss of data. Its been 4 hours and it is still running.  Our automation should track and report the time taken to run the Satellite upgrade process.

[2016-11-03 16:23] rplevka opened #390 "Builds and tests no longer claimable"
the recent automation build (from Nov 2) no longer allows us to claim the builds, nor tests.
The 'allow claiming' disappeared from the jobs.
![img_of_job_config](http://storage5.static.itmages.com/i/16/1103/h_1478190181_8252806_a96e1c49f9.png)
however, the satellite6-automation.yml seems to contain the relevant publisher.

[2016-11-08 19:56] elyezer commented on #23
We have upgrade jobs for satellite and capsule, I think this can be closed.

[2016-11-08 19:56] #23 closed

[2016-11-08 20:06] elyezer commented on #249
It seems that this is already done. @kbidarkar can you close this issue if the current automation architecture covers what mentioned here please?

[2016-11-08 20:08] elyezer commented on #350
@kbidarkar any update on this?

[2016-11-08 21:05] omaciel commented on #385
@kbidarkar can I get higher priority on getting this done?

[2016-11-09 13:32] kbidarkar commented on #385
Fixed as part of this PR, https://github.com/SatelliteQE/robottelo-ci/pull/391/files#diff-51be2368e75b0d00ea68510400f3bd60R77

If required can raise a separate PR soon to get it merged quickly.

[2016-11-09 13:34] omaciel commented on #385
@kbidarkar yes, please break it down into distinct PRs? I want this done sooner than later :)

[2016-11-09 13:36] kbidarkar commented on #386
The changes made in this PR , would make this issue obsolete.
https://github.com/SatelliteQE/robottelo-ci/pull/391

[2016-11-09 15:26] kbidarkar commented on #385
Fixed in https://github.com/SatelliteQE/robottelo-ci/pull/392

[2016-11-09 18:01] elyezer commented on #385
Related PR is merged, closing this.

[2016-11-09 18:01] #385 closed

[2016-11-11 13:21] kbidarkar commented on #249
We can close this once PR  #393 is merged.

[2016-11-11 13:24] kbidarkar commented on #386
The changes made in PR #394 would make this issue obsolete.

Once PR #394 is merged we can close this.

[2016-11-11 13:30] kbidarkar commented on #350
@elyezer, no, will pick this up next.

[2016-11-11 13:38] kbidarkar commented on #368
Fixed in https://github.com/SatelliteQE/robottelo-ci/pull/372

[2016-11-11 13:38] #368 closed

[2016-11-14 12:07] elyezer commented on #350
@kbidarkar let me know if you need any help.

[2016-11-14 15:05] kbidarkar commented on #350
fixed in https://github.com/SatelliteQE/robottelo-ci/pull/395

[2016-11-15 14:58] JacobCallahan opened #399 "Make ISO Jobs Great Again"
With an increased z-stream release rate, we can expect more ISO verification tasks to be pushed our way. Bringing back the ISO provisioning jobs would greatly help with that. Below, we can see the current output of an attempted run.

https://satellite-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/Triggers/job/satellite6-provisioning-iso-rhel7/6/console

[2016-11-15 15:10] sthirugn commented on #399
love the title!

[2016-11-15 16:11] kbidarkar commented on #399
Lol, I didn't notice it earlier, but now I get it.

[2016-11-15 18:50] kbidarkar commented on #390
We can now claim builds and tests again,
JENKINS_SERVER/view/Satellite6.3/job/automation-6.3-rhai-rhel7/9/testReport/

I had updated the claim plugin to official 2.9 version, ran jjb synced the jobs , which solved this issue.

[2016-11-15 18:50] #390 closed

[2016-11-15 18:52] kbidarkar commented on #249
PR #393 is merged, so will be closing this, we can reopen this if required again.

[2016-11-15 18:52] #249 closed

[2016-11-16 14:15] lpramuk commented on #399
it tries to source old config model (we moved to gitlab)
@kbidarkar Don't we have newer iso job? ( satellite6-provisioning-iso-rhel7 - old job bunch)

[2016-11-16 14:35] cswiii commented on #399
important task!  yuge task!

[2016-11-18 14:30] abalakh opened #401 "'400 Bad Request: malformed Host header' error while communicating with docker"
Most of docker tests in robottelo are failing with `Error creating communicating with Docker. Check the Satellite logs: 400 Bad Request: malformed Host header` error, example of such failure:
[code]

This issue was already investigated by @ldjebran and he provided his finding in email discussion to katello-qa list, under the subject 'Docker automation test series failures affecting 6.2 - 6.3'. The

[2016-11-18 14:32] kbidarkar commented on #399
@lpramuk, plan is not to have a separate job for ISO, but introduce ISO as part of DISTRIBUTION of the current jobs. I want to get rid of DDNS. :)
Also ,
1) This way we can quickly compare the results with other DISTRIBUTION runs. ( INTERNAL, INTERNAL AK, INTERNAL REPOFILE, CDN, e.t.c )
2) Another thing is we can now put jobs in queue, so we can now use the infra little more efficiently.

[2016-11-18 16:19] #350 closed

[2016-11-22 13:02] kbidarkar commented on #399
This is fixed now, with the following PR's,

a) SatelliteQE/automation-tools#456
b) #405
c) MR 11 from jenkins-config

[2016-11-22 13:02] #399 closed

[2016-11-22 13:05] kbidarkar commented on #386
This is fixed by the following PR's,
a) #394
b) #402
c) #403
d) #406

[2016-11-22 13:05] #386 closed

[2016-11-24 07:37] lpramuk commented on #401
automation-tools ? (not robottelo-ci)

[2016-11-25 12:49] lpramuk opened #414 "Disable RHEL6 nightly automation"
There's no rhel6 nightly as foreman dropped rhel6 support.

[2016-11-28 14:31] kbidarkar commented on #401
I was looking at this issue today and here is what I think,
We should not be updating any of the satellite6 instances outside the satellite6 repo packages, even if it seems to be solving issues. This would lead to deviation from what we would be shipping/releasing.

For any fixes, we need to raise bugs and get the fixes in the respective satellite repos. Wondering why we want to update the docker-

[2016-11-28 17:23] kbidarkar commented on #401
This issue should get fixed automatically once, https://bugzilla.redhat.com/show_bug.cgi?id=1366573 bug is fixed.

No changes will be done on the automation-tools end. :)

[2016-11-29 05:51] sghai commented on #401
Yeah.. I agreed what @kbidarkar mentioned. However, we should ask developers to fix this bz on priority. It is a good candidate for 6.2.5 wish list.

[2016-11-29 08:52] kbidarkar commented on #401
Will be closing this issue.

[2016-11-29 14:31] rplevka opened #417 "foreman-debug won't pick up rolled logs"
We currently get only last 5k lines from each log file. I've raised a PR (https://github.com/SatelliteQE/robottelo-ci/pull/416) taht would set the max line limit to no limit, however, there are still rolled logs (production.log-20161123.gz, etc.) which are not being picked up by foreman-debug.

I'd like to discuss the action we'd take to address this issue.
Shall we run the foreman-debug script an

[2016-11-30 13:45] elyezer commented on #417
I think we can handle ourselves while foreman-debug is not updated. And ask for an improvement  on foreman debug, it would be great to have a flag (or something) that will include the complete logs.

[2016-11-30 16:19] #414 closed

[2016-11-30 20:13] renzon opened #420 "Include Bugzilla credentials on robotello.properties for jobs running tests"
More details on https://github.com/SatelliteQE/robottelo/issues/4045

[2016-11-30 20:59] #420 closed

[2016-12-05 12:23] jyejare opened #424 "Add support for Satellite with Customer DB Upgrade in Upgrade Automation"
Add a support for upgrade Satellite having Customer DB.
In Two Steps:

    1. Install Satellite with Customer DB using ansible playbook from SatelliteQE/Satellite-Clone Project.
    2. Upgrade The Satellite populated with Customer DB.

[2016-12-05 12:33] jyejare commented on #388
@sthirugn :
Here:
Time taken means,
1. The time taken only be 'satellite installer --upgrade'
 --or--
2. The time taken by yum update with sat repo + satellite installer command of upgrade
--or--
3. The whole satellite process: os update + sat repo creation + yum update with sat repo + satellite upgrade

Please confirm!!

[2016-12-05 14:14] sthirugn commented on #388
@jyejare I am mostly interested in Option 1 at this time.

[2016-12-06 08:36] sghai opened #425 "Run Tier1 tests on Upgraded System."
We may think of tier2 as well. However, tier1 is much needed for now.

[2016-12-08 08:48] jyejare opened #427 "Remove Cust DB satellite registeration to RHN from robottelo-ci"
Currently we are plugging in the registeration and subscription of cust DB Satellite to RHN in robottelo-ci itself which has to come from Satellite-Clone project. For that reason the issue [1] has been created in SatelliteClone in RedhatSatellite.

Once this issue is closed we can remove/update the same code in robottelo-ci.

[1] : https://github.com/RedHatSatellite/satellite-clone/issues/18

[2016-12-14 16:00] rplevka opened #431 "Screenshots only kept for the recent build"
Something seems to remove the screenshots from older builds, only those from the recent build are present. Note that they use the build date for the directory name, so they shouldn't be overwritten

[2016-12-16 14:32] elyezer commented on #431
So far we just cared about the latest screen shots, if we decide to store screen shots for all builds, then we should archive then as an artifact and also compress using gzip to save space. We can leave the last build ones to be accessed via browser as they are currently.

[2016-12-21 19:36] elyezer opened #433 "Send email notification for the robottelo-ci-update-jobs"
Send an email notifying that `robottelo-ci-update-jobs` failed to run. The notification should be sent to the people managing the Jenkins.

[2016-12-23 09:09] jyejare opened #434 "Update Customer DB upgrade Automation wrt SatelliteClone new changes"
Derived this issue from Email Conversation:

Hi Jitendra,
satellite-clone v0.1 is now released and the master is updated too.  Can you please update your automation code to accomodate the new changes in the configurations? Also from now, I think it will be better to pull from a specific version tag.  Thanks!
- Sthirugan

[2017-01-02 16:56] omaciel commented on #433
@kbidarkar assigning this to you. Please add this to your priority list (it should be fairly simple)

[2017-01-04 06:32] sghai opened #437 "Trigger around upgrade automation needs to be updated"
we need to update the triggers for upgrade automation for both rhel6 and rhel7 platforms. As soon as new build arrives, the automation should pick-up the correct templates and run upgrade on them.

[2017-01-04 06:34] sghai opened #438 "Run tier1 tests post upgrade"
We need to come up with a way where automation run tier1 tests from robottelo once the upgrade is completed successfully.

[2017-01-04 06:39] sghai commented on #438
closing it as duplicate of #425

[2017-01-04 06:39] #438 closed

[2017-01-04 11:01] pondrejk opened #440 "bz_password parameter missing when running standalone aoutomation from 6.1.z branch"
See standalone automation  #256 for reference. Running a standalone job from 6.1.z branch without setting ROBOTTELO_PROPERTIES fails with:
[code]
Running the job with custom properties file including  `bz_password=` works well

[2017-01-05 16:17] renzon opened #444 "Stand Alone Automation Not Acessing BUGZILLA_PASSWORD"
this is a global password accessible in [another pipelines](https://github.com/SatelliteQE/robottelo-ci/blob/b0ff6d067bfe93622e7111b797d8e873f495e666/jobs/robottelo-ci-update-jobs.yaml#L14-L16)

[2017-01-06 17:31] #444 closed

[2017-01-06 17:59] renzon commented on #440
It was fixed on #447

[2017-01-06 17:59] #440 closed

[2017-01-09 10:57] jyejare opened #448 "Fix Upgrade Trigger job failing due to new RHEVM images and code updates"
Fix the Upgrade Trigger job for: Satellite minor versions

[2017-01-09 13:11] jyejare opened #450 "Run tier1 tests on Succesfull Upgrade"
Run tier1 tests on Successful Satellite Upgrade.

[2017-01-09 13:25] sghai commented on #450
Duplicate of #425.. lets close any one of them..

[2017-01-09 14:31] #450 closed

[2017-01-11 11:21] kbidarkar commented on #433
This is now addressed in the below PR,
https://github.com/SatelliteQE/robottelo-ci/pull/446

[2017-01-11 11:29] kbidarkar commented on #431
@rplevka and @elyezer, Will add the screenshots to the archives and gzip them.

[2017-01-11 11:32] kbidarkar commented on #417
I agree with @elyezer, let me try handling the rolled logs too for now, by archiving them.

[2017-01-11 13:10] rplevka commented on #417
quick update - looks like the rolled logs are actually included (not the zipped ones but those suffixed by date). I believe the current setup is sufficient. What I'm missing in the archive though are the syslogs - but that's unrelated to this issue.

feel free to close this issue

[2017-01-11 15:56] #448 closed

[2017-01-13 00:43] rochacbruno commented on #330
That can now be done by www.github.com/SatelliteQE/satellite-populate

[2017-01-13 01:12] rochacbruno commented on #154
@rplevka is that ok? can we close this issue?

[2017-01-13 09:22] rplevka commented on #154
@rochacbruno yes, this has been resolved for some time now. Thanks for reminder

[2017-01-13 09:22] #154 closed

[2017-01-13 10:32] rplevka commented on #401
Please do not close the issue since the problem in the automation persists.
The correct way to handle this is to open a PR which would decorate the affected tests by `skip_if_bz_open`

[2017-01-19 12:53] #433 closed

[2017-01-19 12:58] kbidarkar commented on #401
@rplevka , You want skip_if_bz_open in robottelo I think, if so then this issue can be closed and an issue opened in robottelo. This looks to be a NO-OP at robottelo-ci end. Please raise an issue on robottelo.

[2017-01-19 19:59] kbidarkar commented on #365
Finally this issue is fixed in #461, #463 and #464 .

[2017-01-19 19:59] #365 closed

[2017-01-19 20:04] kbidarkar commented on #437
@sghai, @jyejare, at-least this part now seems to be alright and was fixed as part of #365.

Let's look out for any issues around this and if found so, we can fix it. Will keep this open till we see a successful run of `automation-upgrade-rhel6` and `automation-upgrade-rhel7` jobs.

[2017-01-24 11:10] kbidarkar commented on #437
Fixed in #465 , will be closing this issue.

[2017-01-24 11:10] #437 closed

[2017-01-24 11:10] kbidarkar commented on #425
Fixed as part of #465

[2017-01-24 11:10] #425 closed

[2017-01-24 11:12] #330 closed

[2017-01-24 11:14] kbidarkar commented on #330
Another alternative is also to use the jenkins job satellite6-populate.

It is good if the www.github.com/SatelliteQE/satellite-populate  is more dynamic, but for immediate needs, currently the jenkins job satellite6-populate can also be used.

[2017-01-24 11:16] kbidarkar commented on #401
There is nothing to be worked on the robottelo-ci end so this will be closed.

[2017-01-24 11:16] #401 closed

[2017-01-24 11:18] kbidarkar commented on #417
Closing this issue as per the previous comment.

[2017-01-24 11:18] #417 closed

[2017-01-27 11:29] rplevka commented on #431
@kbidarkar and @elyezer png contains compressed data already so there won't be a big gain in saved space in zipping them again.
I was looking for a way to publish the screenshots directory as an artifact. So i could tweak my greasemonkey script to add links to the appropriate failed test so user can see the screenshot just by hovering around the appropriate test.

[2017-01-27 15:52] elyezer commented on #431
@rplevka not sure about publishing a dir as an artifact but I don't see any reason to that not being possible.

[2017-01-30 14:16] kbidarkar opened #477 "Add support for changing download-policy to satellite6-populate job."

[2017-01-30 14:17] kbidarkar opened #478 "Add support for RedHat Tools repos to sync, publish, promote and add subs to AK for satellite6-populate job"

[2017-01-30 16:35] kbidarkar commented on #295
a) Updating base image ( rhel68 + rhel72 )
Completed: We now have both rhel68 and rhel73 + rhel72 images in PROVISIONING_HOST
b) Setting up a permanent IDM Server for automation
Completed: This is completed and now we have `IPA/IDM Server` running on `rhevm` which can be now used for LDAP and External Authenticaion purposes.
c) Working with DNS Servers and Domain Names.
Completed: Current DNS serv

[2017-01-30 16:37] kbidarkar commented on #295
More information can be found at this location, https://mojo.redhat.com/docs/DOC-1122440

[2017-01-30 16:38] #295 closed

[2017-01-31 09:15] jyejare commented on #424
Closing this as PR #423 has been merged.

[2017-01-31 09:15] #424 closed

[2017-02-06 15:14] pondrejk opened #485 "Add option to create .hammer/cli_config.yml to the installer"
It would be nice to have a check box in sat installer that would create the ~/.hammer/cli_config.yml with hostname and credentials, as described here https://access.redhat.com/documentation/en/red-hat-satellite/6.2/paged/hammer-cli-guide/12-authentication

It would spare us from specifying --username --password options with hammer commands, or from having to create the file manually.

[2017-02-17 12:34] sghai opened #497 "Handling of vault requests via automation"
Currently, we are testing Vault requests a bit of w/ manual way. It would be great if we can join different pieces together w/ existing/new jobs to fully automate it.
For now, we are using rhel6.8 images and need to have upcoming rhel6.9 base OS images.

As @kbidarkar suggested that this can be handled w/ a jenkins parameter 'IMAGE'. So lets try this out and prioritize this.

[2017-02-17 12:43] kbidarkar commented on #497
Will divide this into 2 sub-tasks.
a) For the server side images and , requires work on robottelo-ci side.
b) For the client side images, requires work on robottelo side

[2017-02-17 12:50] lpramuk commented on #497
...as we want to test both satellite server and clients on rhel candidate

For clients we need to change these constants into settings:
https://github.com/SatelliteQE/robottelo/blob/master/robottelo/constants.py#L27-L28

[2017-02-20 10:44] kbidarkar commented on #497
a) For the server side images ,
i)  https://github.com/SatelliteQE/robottelo-ci/pull/499
ii) https://github.com/SatelliteQE/robottelo-ci/pull/501
b) For the client side images,
IN-PROGRESS

[2017-02-20 10:59] kbidarkar commented on #497
Will close this PR as the robottelo-ci side code is finished and we have another issue to track the client side stuff needed at the robottelo project end.

[2017-02-20 10:59] #497 closed

[2017-02-20 11:11] kbidarkar opened #502 "Add support to configure REALM Integration."
a) Should be able to enroll sat6 to IDM.
b) Should be able to configure sat6 for external authentication of provisioned hosts.

[2017-02-20 11:23] kbidarkar opened #503 "Add support to configure IDM External Authentication"
a) Should be able to enroll sat6 to IDM.
b) Should be able to configure Satellite6 for external authentication for EXTERNAL users to be able to login to Satellite6 via SSO/Kerberos logins.

[2017-02-20 11:23] kbidarkar opened #504 "Add support to configure AD External Authentication"
a) Should be able to enroll Satellite6 to AD.
b) Should be able to configure Satellite6 for External Authentication so that EXTERNAL users of AD can login to Satellite6 via kerberos/SSO logins.

[2017-02-20 11:29] kbidarkar commented on #502
Following PR adds support for a) and b).
https://github.com/SatelliteQE/robottelo-ci/pull/496

[2017-02-20 11:29] #502 closed

[2017-02-20 11:30] kbidarkar commented on #503
Following PR adds support for a) and b) ,

https://github.com/SatelliteQE/robottelo-ci/pull/496

[2017-02-20 11:30] #503 closed

[2017-02-20 11:31] kbidarkar commented on #504
Following PR solves the a) and b) task.
https://github.com/SatelliteQE/robottelo-ci/pull/498

[2017-02-24 14:06] omaciel opened #511 "Run cobertura coverage report at the end of each Tier execution"
Please make sure to run `cobertura` coverage report at the end of each Tier execution

[2017-02-27 05:08] sghai commented on #434
This has already been covered w/ release released tag 1.0.1 in PR #512

[2017-02-27 14:03] sghai commented on #434
Handled w/ PR #512

[2017-02-27 14:03] #434 closed

[2017-02-28 03:23] sghai opened #514 "Upgrade rhel7 trigger failed w/ error: 'MyLogger' object has no attribute 'hightlight'"
[code]
If this is an issue w/ automation tools then please file issue there and close this one.

[2017-02-28 06:06] sghai commented on #514
Same issue w/ rhel6 trigger too.

[2017-02-28 06:58] jyejare commented on #514
This is an automation-tools issue and PR is raised for same in automation-tools project :
https://github.com/SatelliteQE/automation-tools/pull/521

[2017-02-28 12:43] sghai opened #517 "Run tier2 tests post upgrade via trigger"
was talking to dev to check if post upgrade cv publish/promote works etc.. but I think that's part of tier2. Just thinking a bit loud if we can run tier2 tests.

Benefit is more test coverage but automation would take more time to produce results and then we need to analyze them as well. So more time needed.

[2017-02-28 12:54] sghai opened #518 "Perfrom DB upgrade w/ pulp-db"
There are few db's available w/o pulp db so I think best would be to add a check on upgrader job.

[2017-02-28 14:51] omaciel commented on #517
Instead of running the entire Tier 2 test suite, how about a "curated" set of tests to exercise very specific areas instead?

[2017-03-01 12:50] sghai commented on #518
handled w/ https://github.com/SatelliteQE/robottelo-ci/pull/521

[2017-03-01 12:58] sghai commented on #517
Yeah.. lets try w/ that.. and later as per need we can add tests..

From implementation perspective, I think we can run tests by specifying a test class w/ py.test.

[2017-03-01 12:58] sghai commented on #517
@kbidarkar @jyejare thoughts/comments ?

[2017-03-01 13:16] jyejare commented on #517
We can focus on particular error prone software component using running @omaciel  approach but What if high severity bug occurs from missed tests of tier2. We wont be able justify the reason despite of having test for it. Just a food for thought. :)

[2017-03-01 13:41] sghai commented on #517
@jyejare agreed. I'm only concerned about the time that tier2 would take.. On any case running complete tier2 makes more sense.. I think for experiment we can start w/ complete tier2 and will see how that goes..

@omaciel what do you think ?
In any case, we need at least two days to report status for this growing enterprise level product ;)

[2017-03-01 14:25] kbidarkar commented on #294
Fixed this in https://github.com/SatelliteQE/robottelo-ci/pull/496

[2017-03-01 14:26] omaciel commented on #517
@sghai @jyejare I understand your concern and am ok with starting with the whole suite for now.

[2017-03-03 06:55] sghai commented on #518
closing this as support is already added.

[2017-03-03 06:55] #518 closed

[2017-03-03 09:22] jyejare opened #524 "Separate Master Trigger for Upgrade in Jenkins"
Adding reasons shortly .....

[2017-03-03 13:39] kbidarkar commented on #517
Ok, so it would be the entire t2 suite then.

[2017-03-03 15:03] renzon opened #525 "Provide Global Passwords to automation jobs"
Issue created due to SatelliteQE/robottelo#4396

[2017-03-03 15:05] lpramuk commented on #525
in UI it is ```[x] Inject passwords to the build as environment variables```

[2017-03-03 15:21] #525 closed

[2017-03-06 13:07] #504 closed

[2017-03-07 11:26] kbidarkar commented on #511
I think this is what we need to achieve this task, https://docs.openstack.org/infra/jenkins-job-builder/publishers.html#publishers.cobertura

[2017-03-07 13:34] kbidarkar opened #533 "update the jobs to specify the IDM and AD EXTERNAL_AUTH as choices."
Currently IDM_EXTERNAL_AUTH and AD_EXTERNAL_AUTH are boolean values and we need to change this so that we can choose between IDM and AD EXTERNAL_AUTH.

The plan is to choose IDM as the default.

NOTE: REALM EXTERNAL_AUTH will still remain a separate option to select. The main idea behind this  to convert it to choices is that , IDM and AD are mutual exclusive.

[2017-03-07 18:27] kbidarkar commented on #343
Fixed in https://github.com/SatelliteQE/robottelo-ci/pull/523

[2017-03-07 18:27] #343 closed

[2017-03-07 18:34] kbidarkar commented on #294
Fixed in https://github.com/SatelliteQE/robottelo-ci/pull/496

a) updating base image ( rhel68 + rhel73 ) to point to the IDM server the nameserver entry in /etc/resolv.conf file.
b) We now have a permanent IDM server for automation.
c) We now have 2 separate domains, one for satellite6 and other for Capsule.
d) We now have AD and IDM with matching domains to that of Satellite6. For Cross-Realm se

[2017-03-07 18:34] #294 closed

[2017-03-07 18:37] kbidarkar commented on #514
Closing as per the previous comment of @jyejare. This issue is fixed in automation-tools.

[2017-03-07 18:37] #514 closed

[2017-03-07 18:39] kbidarkar commented on #517
As mentioned in the previous comments and discussions in this thread, we will not be running the entire Teir2 tests after the upgrade is performed.
Fixed in https://github.com/SatelliteQE/robottelo-ci/pull/529

[2017-03-07 18:39] #517 closed

[2017-03-07 18:44] kbidarkar commented on #80
I feel we can close this issue as we have the same issue opened #266
Anyways will link up the discussion on this issue in #266.

[2017-03-07 18:44] #80 closed

[2017-03-07 18:51] kbidarkar commented on #266
Running things in parallel would not be possible as the same hostname and IP would be used.
1) Also, do we need this task to be implemented?
2) I feel we can run this task after t4 job?

any suggestions?

[2017-03-07 18:54] kbidarkar commented on #388
@jyejare and @sghai , Guys can you please confirm, whether we can close this task. I feel we can, just confirming this once with you. Please feel free to close this task, if so.

[2017-03-07 18:55] kbidarkar commented on #427
@jyejare and @sghai , Guys can you please confirm, whether we can close this task. I feel we can, just confirming once with you. Please feel free to close this task, if so.

[2017-03-08 15:09] sghai commented on #388
Yes.. I think this can be closed as now we are getting automated email that includes time taken for upgrade..

@jyejare Please feel free to re-open if I missed something..

[2017-03-08 15:09] #388 closed

[2017-03-09 14:23] kbidarkar commented on #477
Added support in https://github.com/SatelliteQE/robottelo-ci/pull/535

[2017-03-09 20:49] #477 closed

[2017-03-09 21:11] kbidarkar commented on #478
Added support in https://github.com/SatelliteQE/robottelo-ci/pull/536

[2017-03-09 21:12] #478 closed

[2017-03-10 05:44] san7ket opened #537 "Need to create a job for adding support to create upgrade templates"
Plan is to create the new z-stream templates , when z-stream build is pushed to cdn.Hence, reducing the manual efforts.

[2017-03-10 05:58] san7ket opened #538 "Need changes to upgrade job , to add support to run Use case related test cases"
Adding some use cases to automation tools , to check entities per-upgrade and then doing some operations post upgrade.

[2017-03-10 08:19] #431 closed

[2017-03-20 15:39] kbidarkar commented on #533
This is fixed in #541

[2017-03-20 15:39] #533 closed

[2017-03-23 18:05] kbidarkar opened #551 "Add support for running tier tests after applying HOTFIX"
1) Not all HOTFIXes may be required to be tested by QE, but at times we do get few requests to test certain HOTFIXes.
2) Plan is to introduce a way of specifying a script ( in a URL form ) to be run , post satellite6 install, after the provisioning job is done, the plan would be to apply the HOTFIX.
3) All the steps of the HOTFIX, would go into the script, residing on paprika and/or sesame node.
4

[2017-03-23 20:02] pgagne commented on #551
Sounds good. I like the idea of the script being swappable

One thing I will add is it seems for most hotfixes the standard process is:

[code]

Perhaps we can make the above the default (along with a parameter for the repo url), and allow the user to specify a custom script if necessary

[2017-03-24 08:06] jyejare opened #553 "Introduce Post Upgrade Validation Entity Existance and associations tests in Jenkins"
Update Standalone job to run post upgrade validation of entity existence and their associations tests.

[2017-03-29 11:08] #553 closed

[2017-03-30 05:57] sghai opened #560 "Set flag to run existence tests for customerDB upgrade"

[2017-03-31 11:48] sghai opened #563 "Sat-tools repos needs to be set for both rhel6 and rhel7 clients."
Currently tier2 tests related to rhel7 clients on rhel6 satellite using tools_rhel6 repos and so getting failed. We should explicitly set both repos.

Please raise issue against robottelo too, if needed.

[2017-03-31 12:50] lpramuk commented on #563
The problem is:
we are dual regarding vm creation (one can choose to spin up both rhel7 and rhel6 VMs)

vs.

we are not dual regarding tools/capsule repos (one can enable only rhel6 repo if testing sat6el6)

We can unify by providing full set of tools/capsule repositories and let tests to use them accordingly with VMs being spun up.

[2017-03-31 12:56] lpramuk commented on #563
Still we are forgetting about RHEL5 clients...

At the end will have to introduce **client tier testing** against standalone stable SAT and iterate thru whole matrix with just subset of tests.
And probably utilize beaker with his zoo of machines: i386, s390x, ppc64 by beaker test wrapping py.test over robottelo git...

[2017-04-03 09:42] rplevka opened #564 "handle-tier-instances job no longer available in jenkins"
the topic says it all

[2017-04-03 11:14] kbidarkar commented on #564
This job is available at http://sat6-jenkins/job/satellite6-handle-tier-instances/

[2017-04-03 11:21] #564 closed

[2017-04-03 11:22] kbidarkar commented on #564
No action required, as the job already exists, will close this issue.

[2017-04-03 19:52] kbidarkar opened #566 "Add support to run downstream-nightly"
All the resources of upstream-nightly will be used by downstream-nightly job.
Upstream-Nightly job exists but would use ddns/usersys.redhat.com.

Primary focus will be on downstream-nightly compared to upstream-nightly and hence the change.

[2017-04-04 10:40] kbidarkar commented on #551
I feel it should be completely upto the QE/DEV testing HOTFIX to come up with  a script and a repo in that script. As the person handling the HOTFIX would know what is best for that current scenario. And also HOTFIX depends upon case to case basis and not every HOTFIX would require a run of `satellite-installer --upgrade`.

Best approach would be to, have choice  parameter, that way it would be go

[2017-04-04 12:50] kbidarkar commented on #551
Added support in https://github.com/SatelliteQE/robottelo-ci/pull/568

[2017-04-04 12:51] kbidarkar commented on #551
Added support in https://github.com/SatelliteQE/automation-tools/pull/559

[2017-04-04 13:46] kbidarkar opened #569 "Add a new ENDPOINT like infra for destructive tests."
Destructive tests will be run on this `ENDPOINT`.

In the meeting it was decided that, these shouldn't be called "tier" , but something else.
Hence proposing it to be called `destructive`? Thoughts ?

[2017-04-05 03:40] sghai opened #570 "Automate complete process to test n-1 capsule along w/ upgraded satellite"
For now n-1 capsule testing is not fully automated. For this we need to do following:

1. Spawn a new instance of Sat/capsule server from existing RHEV sat/capsule image of last released version
2. upgrade only sat server w/ latest compose
3. perform tests if upgraded satellite can communicate w/ old version capsule.
4. Tests can be performed:
     a) Perform capsule sync
     b) Provision a host

[2017-04-05 09:32] jyejare commented on #570
The PR in both robotello-ci and automation-tools are raised for first 2 requirements.
https://github.com/SatelliteQE/robottelo-ci/pull/571
https://github.com/SatelliteQE/automation-tools/pull/562

The 3rd which is basically 4th requirement can be fulfilled by adding upgrade scenario tests incrementally.

[2017-04-05 13:03] rplevka opened #572 "satellite-installer job should accept a custom automation-tools repo as a parameter"
this would allow us to test changes made to `automation-tools` in CI environment

[2017-04-05 16:10] sghai opened #573 "Prepare one discovery ISO for downstream nightly automation and update accordingly"

[2017-04-05 16:11] sghai opened #574 "upgrade should work w/ downstream-nightly jobs too."
This is needs to be tackled on priority. And upgrade should always be from 6.2 atleast through trigger.

[2017-04-05 16:14] san7ket opened #575 "re-fact the product_upgrade task into setup and product install"

[2017-04-05 16:21] #566 closed

[2017-04-06 11:49] #574 closed

[2017-04-07 08:21] jyejare commented on #560
@sghai , I think you have implemented this in Standalone job. And we can close this.

[2017-04-07 08:32] sghai commented on #560
Yeah.. lets close this.

[2017-04-07 08:32] #560 closed

[2017-04-07 11:42] jyejare opened #582 "Fix upgrade job failure in case of no junit xml present"
Upgrade job is failing with following error, when no junit-xml file present.
[code]

[2017-04-11 10:03] san7ket opened #584 "Update upgrade trigger job , with new re-fractored implementation of upgrade product"
see pull #576

[2017-04-11 11:26] jyejare commented on #582
The latest fix is currently in Developement state in jenkins-job project. Once it is released, we can fix that.
The fix will be adding ```'allow-empty-results: true'``` in publisher under junit.

[2017-04-11 12:02] jyejare opened #585 "Add PostUpgrade Existance Tests in Upgrade Trigger Job"

[2017-04-17 14:40] kbidarkar opened #593 "Configure Basil Hardware to place images on a separate partition"
Also /opt will be configured with LVM

[2017-04-19 10:34] #551 closed

[2017-04-19 10:36] kbidarkar commented on #569
Fixed in #579

[2017-04-19 10:36] #569 closed

[2017-04-20 11:27] rplevka opened #594 "typo in script makes whole automation runs multithreaded"
[code]

[2017-04-20 20:37] kbidarkar commented on #594
Fixed in #595

[2017-04-20 20:37] #594 closed

[2017-04-20 20:39] kbidarkar opened #596 "Feel destructive Tier should be configured to run only in sequential mode"
On second thoughts, destructive Tier should be run only in sequential mode and no tests should be marked to be run in parallel. Wondering  does this make sense ?

[2017-04-20 20:48] kbidarkar commented on #596
@rochacbruno , @abalakh, @dlezz , Any thoughts or suggestions on this ?

[2017-04-20 20:50] rochacbruno commented on #596
@kbidarkar yes this is reasonable, run `py.test` without `-n` option in `destructive` is the best option.

[2017-04-21 07:33] abalakh commented on #596
Makes sense for me too. What @rochacbruno said - instead of marking them, just run `py.test` command without `-n` option.

[2017-04-26 05:42] san7ket opened #599 "Existance test's failure's are blocking the sub projects to be triggered"
Existance test's are run with upgrade job, when these tests are failed , the build is marked as failure and sub-projects are not run, we need a method to mitigate this behavior.

[2017-04-26 05:43] san7ket commented on #599
@sghai , @jyejare any thoughts on this?

[2017-04-26 07:13] sghai commented on #599
Yeah.. @snaket as you pointed, may be we should run existence tests as part of the job instead of upgrade itself before tier1.

@jyejare : any other thought ?

[2017-04-26 07:17] san7ket commented on #599
@jyejare , for running existence as a part of job , another issue/question.
Are we gathering pre-upgrade entites every time or just when RUN_EXISTANCE_TESTS=true

[2017-04-26 09:55] pondrejk commented on #596
agreed, so far it's just backup tests that are not meant to be run in parallel even if its a hot backup that does not kill services

[2017-04-28 07:41] jyejare opened #602 "Generate Preupgrade datastore after finishing upgrade prerequisite tasks"
Currently we are collecting preupgrade datastore for existance tests as soon as satellite gets up,

This way we are not getting those entities which are getting created for upgrade process in preupgrade datastore. And in result tests are faling saying the entities's are added extra.

[2017-04-28 08:09] jyejare commented on #602
Closing this issue as its good resolve from satellite6-upgrade project perspective.
Issue: https://github.com/SatelliteQE/satellite6-upgrade/issues/9

[2017-04-28 08:09] #602 closed

[2017-04-28 12:06] kbidarkar opened #604 "Betelgeuse jobs need to checkout the correct branch from Robottelo"
For example:

* /job/polarion-test-run-6.1-rhel6: check out Robottelo branch 6.1.z
* /job/polarion-test-run-6.1-rhel7: check out Robottelo branch 6.1.z

* /job/polarion-test-run-6.2-rhel6: check out Robottelo branch 6.2.z
* /job/polarion-test-run-6.2-rhel7: check out Robottelo branch 6.2.z

* /job/polarion-test-run-6.3-rhel6: check out Robottelo branch master
* /job/polarion-test-run-6.3-rhel7: ch

[2017-04-28 12:06] kbidarkar commented on #604
Fixed in #603

[2017-04-28 14:47] #604 closed

[2017-04-28 14:48] kbidarkar opened #605 "Destructive tests fail to run"
Investigate why destructive tests fail to run.

[2017-04-28 15:21] kbidarkar commented on #605
Fixed in #606

[2017-04-28 15:22] #605 closed

[2017-04-28 19:48] elyezer opened #607 "Install proper Betelgeuse version depending on the satellite_version"
When running the test-run  jobs for satellite_version <=6.2 then `Betelgeuse<0.8` must be installed. Also for those versions the `--token-prefix="@"` must be passed otherwise Betelgeuse won't be able to capture the tests information.

Jobs that matches the Robottelo's master branch can continue to install latest Betelgeuse and the `--token-perfix` must not be passed.

Unfortunately I didn't though

[2017-04-28 19:49] omaciel commented on #607
Hi @kbidarkar basically we will need to pass `--token-prefix='@'` to the z-stream branches as well as use the older version of Betelgeuse, or the Polarion jobs won't work as expected.

[2017-05-02 14:50] kbidarkar commented on #607
Fixed in PR #610

[2017-05-02 15:51] #607 closed

[2017-05-04 13:48] lpramuk commented on #563
@sghai we probably don't need both Capsule repos.
Lets test RHEL6 Capsule with RHEL6 Sat and RHEL7 Capsule with RHEL7 Sat.
So I've only implemented the need for both Tools repos. WYT?

[2017-05-04 14:38] sghai commented on #563
@lpramuk Yeah.. I'm fine w/ "RHEL6 Capsule with RHEL6 Sat" for now. We can revisit this requirement later, if needed. Thank you for all your PRs. I'll review them..

[2017-05-05 10:37] san7ket commented on #599
PR merged, closing this

[2017-05-05 10:37] #599 closed

[2017-05-09 15:24] san7ket opened #624 "In upgrade trigger , running existence as sub-project needs shared workspace"
We have existence test cases , to validate pre and post upgrade entities. These test-cases were run as a part of upgrade job itself "upgrade-to-{satellite_version}-{os}'" , which ran the existence test's just fine. But when any test-case was failed , the whole job was marked as failure , and the sub-projects were not triggered(tier jobs).
So, separate sub-project was created to run the existence t

[2017-05-11 04:40] sghai commented on #585
@jyejare : I see associated PR is already merged. So, can we close this issue ?

[2017-05-11 04:41] sghai commented on #584
@san7ket : Referenced PR is already merged. can we close this issue ?

[2017-05-11 04:42] sghai commented on #575
@sanket: Referenced PR is already merged. can we close this issue ?

[2017-05-11 04:43] sghai commented on #573
Done.. PR raised again jenkins-config as well.

[2017-05-11 04:43] #573 closed

[2017-05-11 04:47] sghai commented on #537
@sanket: Could you please explain why this is blocked. Afaik, support to create upgrade templates already been merged. Is it blocked because we can't tackle the pending/error-out tasks ?

[2017-05-11 04:48] sghai commented on #538
@san7ket : I think this issue can also be closed ? Could you please link the related PR w/ this issue ?

[2017-05-11 06:04] san7ket commented on #537
@sghai yes , this issue is to create a separate job, for creating templates and unless we tackle the pending/error-out tasks problem, we cannot successfully automate this into the job

[2017-05-11 06:05] san7ket commented on #575
yes, closing this

[2017-05-11 06:05] #575 closed

[2017-05-11 06:05] san7ket commented on #584
Yes, good to close

[2017-05-11 06:05] #584 closed

[2017-05-11 06:09] san7ket commented on #538
https://github.com/SatelliteQE/robottelo-ci/pull/576
https://github.com/SatelliteQE/robottelo-ci/pull/588

[2017-05-11 06:09] #538 closed

[2017-05-11 06:22] sghai commented on #537
@sanket: we won't always get pending tasks. Such tasks appears only if we perform multiple tasks at one time or if something really went wrong. I think we can deal w/ tasks later. Lets see what we can accomplish now.

[2017-05-11 06:23] san7ket commented on #624
This currently break's the upgrade trigger, as existence sub-projects will not get the pre-uograde entites datastore file and job will fail , resulting in breaking the pipeline and won't trigger the teir jobs

[2017-05-11 06:27] san7ket commented on #537
@sghai we currently have the tasks, needed to create the templates in satelllite6-upgrade project , I am currently testing those tasks and once done , we can work on this.

[2017-05-11 07:11] jyejare commented on #585
Closing this issue as ref. PR is merged.

[2017-05-11 07:11] #585 closed

[2017-05-11 12:14] jyejare opened #633 "Fix post upgrade existance tests stops after pytest collection error"
The post upgrade existence tests are getting halted after collection error from pytest occurs.

Fix that to run all the tests without caring errors.

[2017-05-11 16:22] san7ket commented on #624
[code]

[2017-05-15 09:04] evgeni opened #637 "rvm.sh not found, Jenkins jobs inherited from foreman-infra fail"
Our Jenkins jobs currently fail with
[code]

This is due to the fact that rvm.sh does not exist in `/etc/profile.d`. The best way to load the `rvm` profile is to launch `bash` with `--login`.

For our own jobs this was done in https://github.com/SatelliteQE/robottelo-ci/commit/815caacffee0b890b8f1eb4f0b9281087d579731
However we inherit some jobs from https://github.com/theforeman/foreman-infra, an

[2017-05-15 09:14] pondrejk opened #638 "Standalone automation TEST_TYPE menu missing destructive type"
Would be useful for testing backup and restore tests using standalone automation job

[2017-05-15 12:20] kbidarkar commented on #511
This is now done, for the pulp part, which covers the python coverage.
We now, need to work with
a) Ruby ( katello + foreman) and
b) Java ( candlepin )

[2017-05-16 06:34] san7ket commented on #624
https://github.com/SatelliteQE/robottelo-ci/pull/643

[2017-05-18 08:32] pondrejk opened #649 "ability to add more custom repos in OS_UPGRADE_REPO"
Currently, it is possible to specify OS_UPGRADE_REPO for installation and provisioning jobs. For certain scenarios it would be useful to have the option to specify additional custom repo, for example, to add patched sat packages from a custom repo to vault request. The easiest solution would probably be to make OS_UPGRADE_REPO to accept multiple values

[2017-05-18 15:46] #649 closed

[2017-05-19 08:57] san7ket commented on #624
This issue is being resolved.

[2017-05-19 08:57] #624 closed

[2017-05-25 19:54] kbidarkar commented on #511
We now also have a new job called `report-consolidated-coverage-{satellite_version}-{os}`, which would gather all the .coverage.* files into tar as artifacts and untar all these from Tier1, Tier2, Tier3, Tier4, RHAI and Destructive Jobs and create just one coverage.xml file for all of the Tiers.

[2017-05-26 13:02] #563 closed

[2017-05-30 10:23] jyejare opened #666 "Run Existance Tests with Customer DB Upgrade"
$subject

[2017-05-30 10:27] jyejare opened #667 "Fix Upgrade Existence Tests failures for not getting FROM_VERSION"
Some upgrade existence tests are failing due to non availability of FROM_VERSION.

Please fix them on priority.

[2017-06-01 05:49] sghai opened #672 "ImportError: No module named six w/ CI and appearing for every job"
Looks like setuptools introduced a new dependency and required `six`. hopefully `pip install six` w/ `pip-install-pycurl.sh` should resolve the issue ?

[code]

` Running setup.py install for pycurl: finished with status 'error'`

[2017-06-01 08:17] pondrejk opened #674 "Standalone automation fails with ValueError: dictionary update sequence element #0 has length 1; 2 is required"
See standalone automation job no 622
See also job 624 ran without PYTEST_MARKS setting  that fails with /tmp/shiningpanda4996353952054314966.sh: line 23: PYTEST_MARKS: unbound variable

[2017-06-01 10:35] kbidarkar commented on #672
Fixed in #673

[2017-06-01 10:35] #672 closed

[2017-06-01 10:35] sghai commented on #672
Fixed in PR #673

[2017-06-01 18:33] kbidarkar opened #676 "remove all traces of rhel6 stuff for 6.3 and downstream-nightly jobs"
As rhel6 won't be available for Sat6.3 and Downstream Nightly jobs

[2017-06-09 11:57] kbidarkar commented on #676
Fixed in #678

[2017-06-09 11:57] #676 closed

[2017-06-12 06:42] sghai opened #687 "All CI jobs are affected w/ Failed to build pynacl issue"
[code]

[2017-06-12 06:45] sghai commented on #687
Looks like `libsodium` needs to be installed, but I'm not sure.

[2017-06-12 12:39] sghai commented on #687
Fixed in https://github.com/SatelliteQE/automation-tools/pull/612

[2017-06-12 12:39] #687 closed

[2017-06-15 12:58] jyejare opened #697 "[Existance Tests] Fix zStream Upgrade tests failing due to wrong FROM_VERSION calculation"
The Existance job tests for zStream Upgrade are failing due to wrong calculation of FROM_VERSION

[2017-06-22 09:24] kbidarkar commented on #674
this is related to the changes made to sattools in robottelo.properties file and settings.
If we provide both `rhel6` and `rhel7` sattools repo link, this issue should be gone.

Will look into and fix this.

[2017-07-17 18:36] kbidarkar opened #719 "check for katello-service status and hammer ping output before running the tests."
I was investigating into few things today and realized that, after `katello-service start` is run on the sat6 instance, at times certain time needs to lapse, before `hammer ping` would not give a `FAIL` message.

[code]
Plan is to update our satellite6-automation.sh script to wait for a `hammer ping` success before we begin to start running the tests via `py.test`

[2017-07-19 12:09] san7ket opened #721 "Upgrade tier jobs failing [UI] , missing paramter"
It seems that the parameters are not making it to the tier jobs in upgrade pipeline. The issue is limited to sacelabs_key,capsule_repo=${CAPSULE_REPO},sattools_repo=rhel7=,rhel6=  and section [capsule] (unsure of this)

@kbidarkar if you can please take a look at this..

[2017-07-19 14:08] kbidarkar commented on #721
I think all the issues are now fixed with this PR https://github.com/SatelliteQE/robottelo-ci/pull/722
except the issue related to section `[ capsule]`. This need much larger investigation as to, how we should be able to run tests around it for upgrade instances.

[2017-07-20 05:59] san7ket opened #724 "Probing EDD (edd=off to disable)... ok VM stuck in libvirt install job"
This is happening only for a particular setup for libvirt install job (sat6-feature-rhel7)
When we try to provision this machine from the job(snap-guest), it fails particularly with a timeout message.
On looking onto the box, i noticed it was stuck on `Probing EDD (edd=off to disable)... ok` , and no further output on console.

We are hitting this issue: https://serverfault.com/questions/708447/pr

[2017-07-20 13:32] pondrejk opened #725 "refreshing manifest before starting a new tier"
A great deal of tier4 tests in robottelo fali when attempting to enable a RH repository with:
 `404 Forbidden - server refused to process the request`, the possible cause might be in using up the subscriptions towards the end of automation run. We could refresh manifest between tiers to see if it helps in this context

[2017-07-20 14:29] kbidarkar commented on #724
@san7ket , I feel we can up the image rhel images on paprika and add the config mentioned to the grub.conf file and check if it helps.

[2017-07-20 16:40] kbidarkar opened #727 "Install sauceclient along with requirements.txt"
As per the comment  https://github.com/SatelliteQE/robottelo/pull/4960#issuecomment-315031608

Let me make this part of the robottelo-ci project then, will move sauceclient to requirements-optional, but would also ensure sauceclient would get installed separately after requriements.txt is installed.

Something like this,
[code]

[2017-07-25 10:20] kbidarkar opened #731 "Jobs in queue have higher priority than the downstream jobs"
Looks like, if we put the upstream job `provisioning-6.2-rhel7` in queue, that job is picked up first instead of the downstream job `automation-6.2-tier3-rhel7` of the previous snap.

Example:
The problem is with how  the execution is happening:
`provisioning-6.2-rhel7` of snap 11
`automation-6.2-tier1-rhel7` of snap 11
`automation-6.2-tier2-rhel7` of snap 11, now if `provisioning-6.2-rhel7` jobs

[2017-07-25 12:57] kbidarkar commented on #731
Hopefully this PR should fix this issue, https://github.com/SatelliteQE/robottelo-ci/pull/732

[2017-07-26 12:18] kbidarkar commented on #731
Problem here is 2 jobs are getting added to the build queue.
jenkins by default always picks up the jobs based on FIFO and hence the `provisioning` job is being picked up first rather than the `automation` job.
And hence the issue.

[2017-07-26 12:58] rplevka commented on #731
wouldn't we fix this by simply executing all the jobs (provisioning, t1, t2, t3, t4, foo, bar, baz) from a trigger at the same time, instead of using the weird chaining?
I believe the chaining was obsoleted by deploying the build blocker plugin, so if we now executed the jobs from the trigger, it would simply put them into the queue.
any other job incoming ot the queue during the automation proces

[2017-07-31 10:20] kbidarkar commented on #724
May be the issue is something else, I reboot paprika today as it was `too slow`.
and now this issue is no longer seen afaik.

[2017-07-31 10:23] san7ket commented on #724
Yes, will close this,

[2017-07-31 10:23] #724 closed

[2017-07-31 15:53] kbidarkar commented on #727
Fixed in #728 , robottelo/5005 , robottelo/5010 and robottelo/5028

[2017-07-31 15:54] #727 closed

[2017-07-31 15:56] kbidarkar commented on #638
Fixed in #736 and robottelo/5063

[2017-08-02 12:20] #638 closed

[2017-08-02 12:27] kbidarkar commented on #381
` we're triggering 6.3 automation just fine`, so will be closing this issue.

[2017-08-02 12:27] #381 closed

[2017-08-02 12:27] ldjebran opened #742 "Manifest upload issue"
To reduce the effect of many organization when uploading manifest.

What do you think if we start the "run_in_one thread" tests first on a clean sat and after the  "not run_in_one thread" ones?.

[2017-08-02 12:31] kbidarkar commented on #742
Let's see what other thoughts or suggestions we have on this, I can then change the order. :)

[2017-08-02 12:33] sghai commented on #742
I like the suggestion and it makes sense to run such tests first in one thread.  Lets try it.

[2017-08-02 12:35] kbidarkar commented on #742
Just adding here more information,
I feel , it will be a good idea , as it could speed up automation due to bug https://bugzilla.redhat.com/show_bug.cgi?id=1339696#c5

[2017-08-02 12:36] sghai commented on #742
@omaciel @cswiii : thoughts ? we don't have any other quick way to fix this issue.. so we should give it a try.

[2017-08-02 15:43] omaciel commented on #742
@ldjebran ACK

@sghai @kbidarkar thank you for chiming in, your opinion makes my decision a whole lot easier to make :)

[2017-08-03 09:46] #742 closed

[2017-08-03 09:48] kbidarkar commented on #596
Fixed in #743

[2017-08-03 09:48] #596 closed

[2017-08-03 09:51] kbidarkar commented on #674
The issue was as per the previous comment and which is fixed already as seen from https://github.com/SatelliteQE/robottelo-ci/blob/master/scripts/satellite6-standalone-automation.sh#L22

Will close this issue, if this issue is seen again , please feel free to re-open this.

[2017-08-03 09:51] #674 closed

[2017-08-07 08:41] kbidarkar commented on #572
Fixed in #744

[2017-08-07 08:41] #572 closed

[2017-08-10 12:11] kbidarkar commented on #725
Fixed in #750.

[2017-08-10 12:11] #725 closed

[2017-08-17 13:39] kbidarkar opened #754 "Trigger automatically satellite6-populate job from satellite6-installer job"
The plan is to add a parameter in Satellite6-Installer job to toggle triggering of satellite6-populate job.

[2017-08-21 14:41] san7ket opened #759 "Vlan Sat6major_el7 missing on vmware , depending test's will fail"
Vlan is needed to provision boxes in specific subnet, for our automation especially for 6.3 , we use `sat6major_el7` bridge , which is missing in vmware setup

[2017-08-23 11:08] san7ket opened #764 "Upgrade Jobs refact to run with new upgrade mark"
In robottelo, we have been cherry-picking the tests and adding a mark onto the tests '@upgrade'.
We need these tests to be run , after upgrade; instead of whole tier1 and tier2.
We can use the existing jobs to refactor those and use them.
So, we have 3 jobs in upgrade-trigger
1.Upgrade itself
2.Tier1
3.Tier2
We can change this to,
1.Upgrade
2.T1 , T2 , T3
3.T4, End-to-End

Or,
Have separate jobs f

[2017-08-23 11:12] sghai commented on #764
@san7ket : I prefer to have only one job for tests per distro. I'm fine re-factoring the existing upgrade tier1/2 jobs. The benefit is one can look at on job to get the whole idea and good in terms of reporting as well.

[2017-08-23 12:09] jyejare commented on #764
@san7ket ,
My opinion is:
1. Upgrade
2. Filtered upgrade Tests only of all tiers

[2017-08-26 22:08] kbidarkar commented on #759
Many new vlan bridges have been created,
a) sat6major_el7 ( sat63)
b) sat6major_el6 ( sat63)
c)upgrade_el7 ( upgrade sat6 rhel7)
d)upgrade_el6  ( upgrade sat6 rhel6 )
e) dcapsule_el7 ( upgrade capsule rhel7 )
f) dcapsule_el6 ( upgrade capsule rhel6 )

I know sat6.3 has only rhel7 and not rhel6, but added it for completeness of infra. :)

[2017-08-26 22:08] #759 closed

[2017-08-26 22:09] kbidarkar opened #768 "Fix report-consolidated-coverage jobs which is failing"

[2017-08-27 20:05] kbidarkar opened #771 "Add BUILD_LABEL to build-name of automation-results jobs"

[2017-08-28 11:47] kbidarkar commented on #771
Fixed in #770

[2017-08-28 11:48] kbidarkar commented on #768
Fixed in #769

[2017-08-29 04:07] sghai opened #774 "for upgrade - Run sequential tests first and parallel tests later"
More info here: https://github.com/SatelliteQE/robottelo-ci/pull/765#discussion_r135622286

[2017-08-30 19:14] #771 closed

[2017-08-30 19:14] #768 closed

[2017-08-31 05:26] san7ket opened #779 "Upgrade job unable to get DDNS parameter"
In upgrade tier tests, a capsule test case is failing to create snap guest box, with following error
This is just preliminary issue acting as a placeholder  , will get back on this.
[code]

[2017-08-31 19:17] kbidarkar commented on #721
closing this issue as we now have the `[capsule]` issue filed exclusively in #779

[2017-08-31 19:17] #721 closed

[2017-08-31 19:19] kbidarkar commented on #779
@san7ket thanks for filing this issue, I closed the issue #721 in favor of this, which was now only pending for this exact issue.

[2017-09-01 09:00] san7ket commented on #764
Closing this , PR merged

[2017-09-01 09:00] #764 closed

[2017-09-05 08:33] ares opened #783 "Templates upgrades testing"
It would be great to have automated test for verifying that an existing template with content "a" e.g. in 6.2 is automatically updated to content "b" after update to 6.3. The most important template would be the kickstart one which I'm I think changed between versions. Maybe it would be best to verify that after update, the template in database is 1:1 to the version that is on filesystem. Template

[2017-09-05 08:43] sghai commented on #783
@ares: thank you for filing the issue. For now, we don't have any such test in upgrade suite. However, we will cover this w/ https://github.com/SatelliteQE/satellite6-upgrade as its the place holder for all test scenarios around upgrade.

@san7ket : could you please move this issue to satellite6-upgrade ?

[2017-09-05 09:22] san7ket commented on #783
@ares Closing this and tracking it here https://github.com/SatelliteQE/satellite6-upgrade/issues/80

[2017-09-05 09:22] #783 closed

[2017-09-05 09:24] san7ket commented on #667
Closing this.. PR merged

[2017-09-05 09:24] #667 closed

[2017-09-05 14:46] rplevka commented on #783
i think this should go to `robottelo` repo
here's my comment on that: https://github.com/SatelliteQE/satellite6-upgrade/issues/80#issuecomment-327198323

[2017-09-06 13:10] lpramuk commented on #593
Lets have ```/var/lib/libvirt/images``` mounted as a separate partition.
I will use the biggest partition available with 837G (former /opt)

[2017-09-06 14:15] lpramuk commented on #593
```/dev/sdb1```(837G) mounted as ```/var/lib/libvirt/images``` (former /opt)

[2017-09-06 14:17] #593 closed

[2017-09-07 08:01] san7ket opened #788 "change the selenium version to 2.53.1 and use firefox 47 for 6.2 z-stream branch"
change the selenium version to 2.53.1 and of course in sync with @kbidarkar to make the changes to the CI to use firefox 47

and perhaps to run the full automation to be sure nothing else is broken because of this changes.

Refer: https://github.com/SatelliteQE/robottelo/issues/5024#issuecomment-327485347

[2017-09-07 11:27] kbidarkar commented on #788
Fixed in, https://github.com/SatelliteQE/robottelo/pull/5245  and https://github.com/SatelliteQE/robottelo-ci/pull/789

[2017-09-24 07:21] ntkathole opened #816 "Fix satellite 6 populate job"
https://github.com/SatelliteQE/robottelo-ci/blob/9524b55b12a136c62813bef486f047fad6f4870d/scripts/satellite6-populate-template.sh#L339

[code]

[2017-09-25 09:54] san7ket commented on #788
This needs to also be fixed for upgrade, can take this up , @kbidarkar will follow your commit

[2017-09-26 18:59] kbidarkar opened #819 "Ensure satellite-populate.sh script is run only in screen/tmux, if not run via jenkins job."
The script could take anywhere between 2-5 hrs to complete, so it should be run via screen/tmux if executing it manually on sat6.

[2017-09-26 19:01] kbidarkar opened #820 "Update the satellite6-populate job and ask users to "Bring your own Manifest File""
Using the same manifest could cause the previously built setup useless, it would help if users specify/bring there own manifest file and pass it as a URL.

[2017-09-26 19:02] kbidarkar opened #821 "Specify clearly which are the optional and mandatory jenkins params"
Currently the Satellite6 populate job has too many parameters and it's difficult at times to know quickly, which are optional and which are mandatory. Idea is to explicitly mention theses in the job's parameter description.

[2017-09-26 19:03] kbidarkar opened #822 "If any hammer command fails satellite-populate script should exit"

[2017-09-26 19:13] #816 closed

[2017-09-26 19:19] kbidarkar commented on #819
if using screen, check for $STY and if using tmux check for $TMUX , it should not be NULL if being run inside screen or tmux session.

[2017-10-01 02:59] kbidarkar commented on #819
Fixed in #823

[2017-10-01 02:59] #819 closed

[2017-10-01 02:59] kbidarkar commented on #820
Fixed in #823

[2017-10-01 02:59] #820 closed

[2017-10-01 03:01] kbidarkar commented on #821
Fixed in #823 and #825

[2017-10-01 03:02] kbidarkar commented on #821
Also fixed in #828

[2017-10-01 03:02] #821 closed

[2017-10-01 03:02] kbidarkar commented on #822
Fixed in #823

[2017-10-01 03:02] #822 closed

[2017-10-02 15:27] kbidarkar opened #829 "Fix the unwanted echo statements and sync tasks during the RERUN of populate job."
Currently trying to RERUN the job, once again displays "creating products , repos and syncing them".

Please note: This is harmless, those are just "echo" statement, I know we should get rid of it.
But I will fix that, when I find some time. If anyone wants to send in a patch feel free to raise one. :)

There should be no issues, trying to RERUN the job by "checking the param"

[2017-10-24 08:00] san7ket commented on #774
Closing this , PR already merged

[2017-10-24 08:00] #774 closed

[2017-11-13 10:47] rplevka opened #879 "automation-destructive job should select tests based on @destructive marker instead of selecting all from /sys dir"
We now have tests marked by `@destructive` even in `tier3`. The fact that we select only tests from `/sys` makes these tests not to be selected at all.

we should change

[code]

to something like

[code]

[2017-11-13 10:55] san7ket commented on #788
Closing this all related PR's are merged

[2017-11-13 10:55] #788 closed

[2017-11-14 20:45] kbidarkar commented on #879
Oh! looks like things have changed now, earlier destructive tests appeared to exist only under tests/foreman/sys, let me update it. The fix goes into robottelo project actually.

[2017-11-14 21:34] kbidarkar commented on #879
Updated in https://github.com/SatelliteQE/robottelo/pull/5576

[2017-11-14 21:45] kbidarkar commented on #879
For Sat6.2.z, https://github.com/SatelliteQE/robottelo/pull/5577

[2017-11-20 16:48] kbidarkar commented on #879
the above PR's are now merged in the robottelo project. Closing this issue.

[2017-11-20 16:48] #879 closed

[2017-12-02 07:06] san7ket opened #902 "Expose upgrade trigger job parameter"
Expose upgrade trigger job parameter and streamline them with provision job paramater.
Add support for BETA releases and Package Update parameter that we already have for provisioning job

[2018-01-15 16:19] kbidarkar opened #949 "Separate the job into smaller pytest calls."
After GA I would look into , separating out 1 single job ( Tier1 ) into multiple commands for API, CLI and UI using pytest.
Makes life easier to re-run the jobs from the current state, rather than just re-start the whole run.

[2018-01-22 19:04] kbidarkar opened #963 "Re-organize the various scripts in it's own directory structure."
Currently, all robottelo-ci scripts are in one single directory called `scripts`, we need to separate these scripts into its own directory structure.

scripts --> sat6-dev -- > scripts related to dev tasks
scripts --> sat6-qe --> scripts related to qe automation tasks ( satellite6-automation.sh, installer.sh and so on)
scripts --> soak-infra --> scripts related to soak infra
scripts --> templates

[2018-02-02 08:20] ntkathole opened #993 "Add get_discovery_image automation task to automation pipeline"
task will create foreman-discovery-image depending on vlan under /var/lib/libvirt/images/.
[Added task for creating discovery image](https://github.com/SatelliteQE/automation-tools/pull/643)

Schedule this task before running test cases in automaton as well as upgrade pipeline so that it will create latest discovery images on libvirt1.

[2018-02-02 13:52] ntkathole opened #994 "Configure beaker user on Jenkins"
We need beaker user configured on jenkins to trigger the beaker task which will help in Satellite6 client automation job.

[2018-02-08 08:53] kbidarkar commented on #994
what is beaker user and why do we need it?

I know you may need it for the multi-arch job, but exactly what is the plan for it?

[2018-02-08 08:55] kbidarkar commented on #994
who's id, do you want to get configured? I doubt whether we have a generic id.

[2018-02-08 08:57] ntkathole commented on #994
We have to configure beaker credentials in jenkins under system config(in Manage jenkins) so that jenkins can communicate with beaker to reserve machine. It is good to have separate beaker user ID for jenkins rather than using ours.

[2018-02-08 08:58] sghai commented on #994
Sanket has raised a request to get a project specific ID (not an individual ones) to use with jenkins job so that it can run tasks to reserve machines in beaker and perform further stuff.

[2018-02-18 10:09] ntkathole opened #1008 "Optimize the client automation template"
- Allow the user to select which client OS archs to populate ( RHEL6, RHEL 5 ). Populate RHEL 7 client archs by default.

- Remove the duplication of code ( use loop instead)

These can be written as

[2018-03-03 10:22] #1008 closed

[2018-03-06 13:50] #949 closed

[2018-03-13 14:07] sthirugn opened #1035 "Update Satellite6 mass registration job using a pipeline with ansible playbook"
the current implementation will break if RHN_PASSWORD (or any other var) has special chars in it (like , !, $ etc).

more info in https://github.com/SatelliteQE/robottelo-ci/pull/1025#discussion_r174089635

[2018-03-19 07:20] san7ket opened #1058 "add support to upgrade from 6.3 to 6.3.z stream to standalone and trigger automation"

[2018-03-19 09:11] sghai commented on #1058
@jyejare : This is something we need to get ready on priority. Please see if we can do all required changes by today only.

[2018-03-21 09:49] rplevka opened #1061 "satellite6-code-coverage fails with no RUBY_CODE_COVERAGE set"
there is an error in the code, where jenkins user tries to create a file in /root dir:

[code]

This obviously fails with Permission denied, failing the whole build.

- I checked why we create an empty file and I think it is to prevent `artifact archiver` to fail in case the file does not exist.
- This however addresses a really old [Jenkins commit](https://issues.jenkins-ci.org/browse/JENKINS-105

[2018-03-21 14:08] #1061 closed

[2018-03-26 07:46] ntkathole opened #1077 "add support to run end-to-end test after upgrade of customer db"
To perform sanity check after upgrade of customer db, lets have some end-to-end scenarios.

[2018-04-04 13:12] abalakh opened #1085 "6.4 tests should run on chrome instead of firefox"
as it's currently the only supported browser by airgun

[2018-04-06 08:53] kbidarkar commented on #1085
Raised #1089

[2018-04-18 08:18] lpramuk opened #1112 "Fix conditional steps for upstream"
upstream jobs are not running at all !!!
[code]

[2018-04-18 08:50] #1112 closed

[2018-04-18 10:36] lpramuk opened #1115 "Get rid of `WARNING: REMOTE HOST IDENTIFICATION HAS CHANGED!`"
This is quite confusing for anyone (esp. newbies) seeking why job failed:
[code]
Lets get rid of it, making logs shorter

[2018-04-18 11:43] #1115 closed

[2018-04-26 15:03] pondrejk opened #1135 "install foreman-maintain when provisioning for destructive tier"
@ subject
as majority of tools tested in destructive tier will be continually moved under foreman-maintain, namely backup and restore. The existing tests could be easily updated, but the maintain tool has to be present

[2018-04-27 11:54] jyejare opened #1137 "Fix: The upgrade tier results polarion upload issue"
The upgrade tiers results are not uploaded to polarion due to same name(of main tiers) of test plan is being used in upgrade test plan.

The issue and error is here :

[code]

[2018-04-27 13:01] #1137 closed

[2018-04-30 12:45] san7ket opened #1141 "rhel75 image on paprika has wrong nameserver"

[2018-04-30 14:54] jyejare opened #1142 "Polarion Tier results upload job fails if snap version is not provided"
Issue:
================

The Polarion Tier results upload job fails if the snap version is not provided in 'POLARION_RELEASE' variable.
e.g 6..2.15.1 (This is correct one)

In above example, the ```.1``` is not being provided to job and hnece the following error occurs:

Issue Logs:
=================

[code]

Proposed Fix:
==================
If the ```POLARION_RELEASE``` is being calculated then f

[2018-05-08 18:29] kbidarkar opened #1148 "fix chaining of satellite-instaler to satellite-populate jobs"

[2018-05-08 18:29] kbidarkar opened #1149 "add python3 support to standalone-automation"

[2018-05-10 08:33] kbidarkar commented on #1148
Fixed in #1150 and #1155

[2018-05-10 08:33] #1148 closed

[2018-05-15 04:36] ntkathole opened #1159 "Fix sat6-populate for satellite 6.4"
[code]

Details see Job satellite6-populate 201.

[2018-05-16 08:00] ntkathole commented on #1159
https://github.com/SatelliteQE/robottelo-ci/blob/master/scripts/satellite6-populate-template.sh#L380

Assign Default Location to RHEL6 and RHEL7 medium.
/root/satellite6-populate.sh: line 376: [: missing `]'

[2018-05-16 09:29] kbidarkar opened #1161 "Add support to populate-template script to enable scl repo for capsules"
The SCL repo is optional and not required by all the features and so installer works/worked even without enabling it most of the times in the past.

Better to have SCL repo included for capsule CV's as well.

[2018-05-16 09:35] kbidarkar commented on #1161
Any volunteer is welcome to pick this up and add it here in this section, https://github.com/SatelliteQE/robottelo-ci/blob/master/scripts/satellite6-populate-template.sh#L245

[2018-05-16 11:37] #1159 closed

[2018-05-16 12:42] kbidarkar opened #1163 "enable REALM only for rhel7"

[2018-05-22 07:41] pondrejk opened #1171 "Installer job fails on regular expression condition"
See the satellite installer job number 4189

[code]

[2018-05-22 09:59] kbidarkar commented on #1171
@pondrejk , that is not the issue, as mentioned in the above link.

IT is the below from the above link,

[code]

[2018-05-22 10:44] kbidarkar commented on #1163
Fixed in #1173

[2018-05-22 10:44] #1163 closed

[2018-05-22 11:19] pondrejk commented on #1171
Turns out the problem was machine-specific, my apologies

[2018-05-22 11:19] #1171 closed

[2018-05-28 10:32] kbidarkar opened #1180 "Add ENDPOINT to build runs for polarion-test-run-6.3-rhel7"
polarion-test-run-6.3-rhel7  is an example , it should be for polarion-test-run-{satellite_version}-{os}

[2018-05-28 14:43] kbidarkar opened #1181 "Add help comments throughout robottelo-ci for easy know-how"

[2018-05-28 17:56] kbidarkar commented on #1142
This is not required, the issue was discussed on mails.

There was an issue with pylarion, because of which the issue only exists for "6.2.15" POLARION_RELEASE and this issue no longer exists.

While there existed an issue with pylarion, the upload for "6.2.15" didn't happen and all further uploads with "6.2.15" failed.

The issue no longer exists anymore for "6.3.2" or "6.4.0", will close this.

[2018-05-28 17:56] #1142 closed

[2018-06-04 07:46] ntkathole opened #1186 "ConfigurationError with pycurl"
https://github.com/SatelliteQE/robottelo-ci/blob/ced4d2fcc9828ea419178d55687ce159bf6ec5fa/scripts/pip-install-pycurl.sh#L4

[code]
See Installer Job 4234.

[2018-06-04 12:47] #1186 closed

[2018-06-14 08:08] pondrejk opened #1200 "standalone automation on 6.2 fails with cryptography install"
came across this during vault testing, observed in job number 1250

[code]

[2018-06-14 13:38] lpramuk commented on #1200
cryptography 1.8.2 is too old to build/install on new fedoras
cryptography  2.0 resolves the issue, anything older (1.9) fails to build on new fedoras

[2018-06-15 13:43] #1200 closed

[2018-06-15 13:48] kbidarkar commented on #1180
Fixed in #1182

[2018-06-15 13:48] #1180 closed

[2018-07-04 13:20] san7ket opened #1223 "Track UI test performance for upgrade for next build"
UI test's keep timing out with sauce. So, lets test the next build without sauce and if the performance improves keep the changes.

PR: #1222 Disable Sauce

[2018-08-09 05:37] san7ket opened #1251 "Add maintain repo to provisioning job."
Having the repos just in upgrade job, breaks the flow of how our jenkins pipeline works.
Everything(Custom repos) is sourced in jenkins provisinong job and latter inhereted by other downstream jobs

https://github.com/SatelliteQE/satellite6-upgrade/blob/master/upgrade/helpers/tasks.py#L540

@ntkathole any thoughts

[2018-08-09 06:39] san7ket commented on #1223
This is reverted, closing this

[2018-08-09 06:39] #1223 closed

[2018-08-09 06:39] san7ket commented on #697
I think, this is fixed, closing

[2018-08-09 06:39] #697 closed

[2018-08-09 06:40] san7ket commented on #993
This is done, closing it

[2018-08-09 06:40] #993 closed

[2018-08-09 06:41] san7ket commented on #666
@jyejare Is this still valid ?

[2018-08-09 06:41] san7ket commented on #633
I think this is fixed

[2018-08-09 06:41] #633 closed

[2018-08-09 06:41] san7ket commented on #582
This is fixed

[2018-08-09 06:41] #582 closed

[2018-08-09 06:42] san7ket commented on #570
This is done and handled by satellite6-upgrade and tier jobs

[2018-08-09 06:42] #570 closed

[2018-08-09 06:42] san7ket commented on #537
Job is created and ready to use

[2018-08-09 06:42] #537 closed

[2018-08-09 06:43] san7ket commented on #427
This is done, closing this

[2018-08-09 06:43] #427 closed

[2018-08-09 08:59] jyejare commented on #666
@san7ket , Yes it is.

[2018-08-09 14:50] san7ket opened #1253 "Don't use direct URL's for products specific installation in robottelo.properties file"
I see that we are using two separate variables for same URL for satellite-maintain. Also, one of which is in robottelo.properties file.

We need to change this, and maintain such repo urls like we do for sat and capsule, source them outside of our testing env in the build phase itself.

To simply, source all Sat , tools, capsule, maintain URL's  at the trigger/provisioning job and then pass it alo

[2018-08-14 07:44] ntkathole commented on #1077
Closed via #1249

[2018-08-14 07:44] #1077 closed

[2018-08-14 07:47] ntkathole commented on #1135
@pondrejk from 6.4 onwards foreman-maintain is installed as dependency of satellite. Shall we close this?

[2018-08-14 07:50] ntkathole commented on #666
@jyejare I see the parameter RUN_EXISTENCE_TESTS is there is customer db upgrades. Is this issue for the same?

[2018-08-14 07:55] ntkathole commented on #754
This is resolved!

[2018-08-14 07:55] #754 closed

[2018-08-14 08:04] ntkathole commented on #1058
@sghai @san7ket Is this still a requirement?

[2018-08-14 08:30] san7ket commented on #1058
This is done, we have z-stream upgrade support for both jobs , closing this

[2018-08-14 08:30] #1058 closed

[2018-08-14 08:31] san7ket commented on #666
I think , if the job has support we can close this?

[2018-08-16 09:25] jyejare opened #1261 "Dont run Existence Tests for upstream nightly and downstream nightly"
Currently, the existence tests are failing due to incorrect ''FROM_VERSION" which is being calculated from the given version.

In this case the FROM_VERSION is being calculated as -.1 where the tests are expecting to be 6.1, 6.2, 6.3 or 6.4.

Traceback:
[code]

[2018-08-21 09:33] jyejare opened #1264 "Dont run Upgrade Existence Tests for Upstream Nightly and Downstream Nightly"
The FROM_VERSION cannot be calculated from UPSTREAM and DOWNSTREAM nightly, but existence tests are hungry for TO and FROM version hence we cannot run these tests.

[2018-08-21 09:34] #1264 closed

[2018-08-24 08:53] #1261 closed

[2018-08-24 08:54] san7ket commented on #1251
#1253

[2018-08-24 08:54] #1251 closed

[2018-09-11 13:54] san7ket opened #1289 "Please fix ssh logic for tiered automation boxes"

[2018-09-12 04:29] san7ket opened #1291 "Investigate Polarion job failures"
"status" : "failed",
    "name" : "test_vm_install_package",
    "id" : "b2a6065a-69f6-4805-a28b-eaaa812e0f4b",
    "custom_id" : "b2a6065a-69f6-4805-a28b-eaaa812e0f4b",
    "message" : "Unhandled exception processing test case.\ncom.polarion.core.util.exceptions.UserFriendlyRuntimeException: 'Review' failed for Work Item 'RHSAT6-40338': The required field 'caseimportance' of Work Item 'RHSAT6-403

[2018-09-12 04:29] san7ket opened #1292 "Stablize polarion jobs , look into UMB"

[2018-09-12 04:30] san7ket commented on #1289
https://github.com/SatelliteQE/robottelo-ci/pull/1290 solves the issue

[2018-09-12 04:30] #1289 closed

[2018-09-18 18:29] pgagne opened #1296 "Change subscription used in populate job"
I think we can change the satellite-populate-template.sh to use only the "Red Hat Satellite Infrastructure Subscription" as its my understanding that is the closest SKU to what customers use.

I was going to do this myself, but was having trouble figuring out what scenerio `POPULATE_CLIENTS_ARCH`
https://github.com/SatelliteQE/robottelo-ci/blob/cfdc06d258f1bdf2d612e80f1c37edfbd985d913/scripts/sate

[2018-09-19 07:42] san7ket commented on #1296
There is no reason at all, we can switch out the Subs, but we may need a manifest that provides us with the said Sub, Currently, we use the automation manifest, and these scripts revolve around the Subs that the current automation manifest provides us.

These auto manifests are re-created periodically so, we get vaild subs, that is the reason behind using automation manifest.

[2018-09-19 07:43] san7ket commented on #1292
PR https://github.com/SatelliteQE/robottelo-ci/pull/1294 Fixed it

[2018-09-19 07:43] #1292 closed

[2018-09-19 07:43] san7ket opened #1298 "Create a Hook for z-stream jobs to trigger post-upgrade tiers"
New z-stream Builds arrive,

While using the Trigger to start Z-stream, One has to Check the New Z-stream Flag from Job Parameters.

- Provisioning Job is Triggered
        a) all-tiers is triggered.
- Upgrade Job is Triggered
        a) all-tiers is triggered.

[2018-09-19 07:44] san7ket commented on #1135
@ntkathole @pondrejk is this still Valid ?

[2018-09-19 07:46] san7ket commented on #731
I don't think this is valid anymore

[2018-09-19 07:46] #731 closed

[2018-09-19 07:48] san7ket commented on #21
We already have the mechanisms now, Robotello-ci , pulls the robottelo branch for which version the job was triggered.Robotello's each branch has a requirement of nailgun(branch).

[2018-09-19 07:48] #21 closed

[2018-09-19 07:50] ntkathole commented on #1296
`POPULATE_CLIENTS_ARCH` is used in client automation job which uses same populate script but with different subscription manifest.
https://github.com/SatelliteQE/robottelo-ci/blob/master/jobs/satellite6-client-populate.yaml#L120

[2018-09-19 07:51] san7ket commented on #266
We now, have parallel and sequential tests, and also tiered approach. Closing this,

[2018-09-19 07:51] #266 closed

[2018-09-19 07:52] san7ket commented on #310
This Should solve the random failures we get on creating tiered box.

[2018-09-19 07:53] ntkathole commented on #1135
Now testfm has automation around foreman-maintain backup and restore. So we can close this. Also if robottelo needs f-m somewhere, 6.4 has it installed by default.

[2018-09-19 07:53] #1135 closed

[2018-10-02 15:14] lpramuk commented on #719
Implemented by PR #1293

[2018-10-02 15:15] #719 closed

[2018-10-04 10:47] san7ket opened #1314 "Create 6.5 Job Pipeline"
1. Update DNS records for qe-sat65 instance **DONE**
1. Setup Infra for Satellite Installation **DONE**
2. Update Relevant Triggers **DONE**
3. Update Jenkins Views **DONE**
4. Update Other jobs eg. Installer, standalone-automation,etc. to add version 6.5 **DONE**
5. Test the trigger **DONE**
6. Test the automation tier jobs **DONE**
7. Test polarion test-run jobs **DONE**
8. Robottelo Branching *

[2018-10-08 09:45] san7ket commented on #1314
Ticket Created for the required Infra changes, Moving 6.1 Pipeline to 6.5

[2018-10-08 11:15] san7ket commented on #1314
Jenkins-config and Infra PR raised 185

[2018-10-08 12:01] san7ket commented on #1314
Ticket for Infra Changes is resolved

[2018-10-08 18:52] san7ket commented on #1314
Trigger update PR https://github.com/SatelliteQE/robottelo-ci/pull/1320

[2018-10-08 18:53] san7ket commented on #1291
This is fixed, and can be closed

[2018-10-08 18:53] #1291 closed

[2018-10-08 18:56] san7ket commented on #25
I am closing this, we have foreman_debug that stores the o/p of rpm -qa and other relevant info.
These are now saved as artifacts for every build and every tier run

[2018-10-08 18:56] #25 closed

[2018-10-09 12:31] JacobCallahan commented on #1298
@san7ket any luck with this?

[2018-10-09 13:39] san7ket commented on #1298
Sorry, for the delay , but I will get back to this once https://github.com/SatelliteQE/robottelo-ci/issues/1314 is done.

[2018-10-15 14:16] pgagne commented on #1296
@san7ket Where is the automation manifest stored? Is it something I can use for manual type testing?

Is this what `SETUP_FAKE_MANIFEST_CERTIFICATE` does in the install job?

[2018-10-16 05:50] san7ket commented on #1296
I don't think we use fake manifest in populate job, but I am also not sure. @ntkathole might know better

[2018-10-16 06:02] ntkathole commented on #1296
@pgagne no there is no relation between SETUP_FAKE_MANIFEST_CERTIFICATE parameter in installer job and populate job. It can be used only if you are planning to run robottelo tests on instance. Automation manifest is available at paprika/pub/.

[2018-10-16 07:27] pondrejk opened #1330 "6.5 fips - machine, trigger and pipeline"
RFE to create a pipleline that would run at least a subset of automation (@upgrade) on fips enabled rhel.  Fips would need to be enabled on the machine just once, steps here: https://access.redhat.com/solutions/137833
Other steps would be probably comparable with  #1314

[2018-10-16 11:35] san7ket commented on #1314
Robottelo branched

[2018-10-18 06:15] ntkathole commented on #1314
Updated other jobs, standalone jobs #1334

[2018-10-22 11:40] san7ket opened #1340 "Fix Provisining host networking , Vlans and routes"

[2018-10-24 12:04] san7ket commented on #1340
Issue is Solved.see sanity job 42

[2018-10-24 12:04] #1340 closed

[2018-10-28 07:14] ntkathole opened #1347 "Fix scap policy creation for 6.4 and 6.5"
For 6.5, There are no SCAP content profiles in "Red Hat rhel7 default content" scap-content.

https://bugzilla.redhat.com/show_bug.cgi?id=1643740

[code]

[2018-10-28 07:15] ntkathole commented on #1347
PR to skip #1346

[2018-10-30 09:03] pondrejk opened #1348 "strip() hostname fields for job to prevent accidental space pasting"
See populate job 359:

[code]
Somewhere an excess white space gets inserted in front of colon, which prevents scp from completing

[2018-10-30 09:09] pondrejk commented on #1348
ok, it turned out that the issue was the forgotten space after pasted hostname, which lowers the urgency. I think we should strip() hostname (and possibly other) entries to prevent such problems. Renaming the issue.

[2018-10-30 10:34] san7ket opened #1349 "Pytest stalling on the tier jobs [need investigation]"

[2018-11-01 22:31] rplevka opened #1352 "[pytest-xdist] invoke pytest with loadscope distribution strategy"
hey. @pgagne  has reminded me that there is now an ability to modify the strategy of test distribution between individual workers.

while current (default) strategy distributes the tests in round-robin fashion, this gets really suboptimal with test classes running heavy fixtures at class level having many tests.

if i run 2 test classes:

[code]

[code]
[code]

the difference is that in the curren

[2018-11-02 11:34] lpramuk commented on #1352
ACK.
May this blessed option ```--dist=loadscope``` help us to speed up automation

[2018-11-06 20:37] pgagne commented on #1352
@san7ket thoughts on this?

[2018-11-12 07:44] san7ket opened #1359 "investigate and fix closed loop job failure"

[2018-11-12 08:54] #1359 closed

[2018-11-26 07:26] jyejare opened #1370 "PreUpgrade Scenarios are failing due to n+1 nailgun"
Upgrade Scenario :
[code]
is failing due to:
[code]

Reason:

This is because while running pre-upgrade scenarios on 6.4, the 'module_stream_count' field is not being returned after posting sync plan, as that field is not available there for 6.4. The field is being returned because we are using nailgun latest for pre-upgrade scenarios.

Solution:

We should use the previous version of nailgun whil

[2018-11-28 13:49] pondrejk opened #1373 "[rfe]: ability to set custom automation-tools fork in provisioning job"
Would be nice to have such parametrization (similar to "custom robotello repo" in Standalone automation) to be able to work around when something like https://github.com/SatelliteQE/automation-tools/issues/747  arises

[2018-11-30 11:10] ntkathole opened #1374 "Fix manifest deletion before upgrade tests"
https://github.com/SatelliteQE/robottelo-ci/blob/57efd19cf94dfa946f893e8a0ac47bd594ebf296/scripts/satellite6-upgrade-tier-source.sh#L118

See upgraded all tiers job 25

[code]
It should be 'hammer -u admin -p changeme subscription delete-manifest --organization "Default Organization"'

[2018-11-30 11:12] ntkathole commented on #1374
Also add 6.5 version at https://github.com/SatelliteQE/robottelo-ci/blob/57efd19cf94dfa946f893e8a0ac47bd594ebf296/scripts/satellite6-upgrade-tier-source.sh#L108

[2018-12-03 07:40] #1298 closed

[2018-12-03 09:27] san7ket opened #1378 "Polarion upgrade test run failing as end-to-end has no *-results.xml"
@jyejare can you take a look, looks like the upgrade end-to-end job is not generating the results.xml file

and this fails the polarion test run job

ERROR: Failed to copy artifacts from automation-upgraded-6.5-end-to-end-rhel7 with filter: *-results.xml

[2018-12-03 09:35] san7ket commented on #1378
looks like we may have missed something here https://github.com/SatelliteQE/robottelo-ci/pull/1143

[2018-12-03 12:30] jyejare commented on #1378
I don't see any reason, why it didn't collect the *-results.xml for end-to-end only and that too for 6.5 only. I see 6.4 jobs is collecting the archive successfully for end-to-end. So I am rejecting the sentence that there is something missing in #1143.

[2018-12-04 08:31] #1378 closed

[2018-12-06 08:48] san7ket opened #1382 "anonymous login doesn't trigger robottelo-ci-update jobs"

[2018-12-13 09:44] san7ket opened #1387 "Investigated the upstream-nightly job failures"

[2018-12-17 07:43] san7ket opened #1395 "Pytest fails to execute squentical tier3 tests"
[code]

[2018-12-18 07:22] #1314 closed

[2018-12-29 05:24] ntkathole opened #1407 "Can't use upgrade helpers in postupgrade scenario job"
https://github.com/SatelliteQE/robottelo-ci/blob/fc1d755a1777975dafa2f21ec2eb53357b3e82dd/scripts/satellite6-upgrade-run-scenarios.sh#L39

As we moved scenario tests from satellite6-upgrade to robottelo, we can't use fab here.

**Error:**
[code]

[2019-01-07 08:20] san7ket commented on #1349
Issue Walk-through:

1. Pytest submits the Job to Saucelabs via it's tunnel.
2. Saucelabs executes the test, send back the results. At the same time, it should close the current opened session for test, but it doesn't.
3. This open session as a  pytest worker associated with it gw0, gw1 etc., worker cannot stop as the session is still open.
4. The session on the saucelabs will stay open indefinite

[2019-01-07 08:20] san7ket commented on #1349
The issue, mentioned above creates a environment suitable for us hitting [1].

1. https://github.com/pytest-dev/pytest-xdist/issues/40

[2019-01-14 10:42] #1407 closed

[2019-01-20 06:01] #1370 closed

[2019-01-20 06:02] #994 closed

[2019-01-29 23:07] ntkathole opened #1422 "PR #1335 blokced triggering tiers automation for upstream-nightly as well"
https://github.com/SatelliteQE/robottelo-ci/pull/1335 blocked triggering tiers automation for upstream-nightly.

[2019-01-30 23:09] rplevka commented on #1352
I think I'm going to implement this.

[2019-01-31 13:25] san7ket opened #1426 "Investigate the destructive test job Failure and fix"

[2019-01-31 13:29] san7ket opened #1427 "Investigate why we get success even when destructive tier fails"
Looks like this is effect of how we have not used multijob plugin correctly, proposing to switch it.
Needs Investigation

[2019-02-04 13:44] sghai commented on #1422
@san7ket Let's unblock nightly automation and consider this on priority..

[2019-02-05 11:48] #1422 closed

[2019-02-11 14:07] san7ket opened #1430 "Block satellite upgrade triggers for all satellite versions"
<rplevka> sjagtap, the blocked by field accepts globs
<rplevka> sjagtap, you need to update the individual jobs. e.g satellite-6.5-tier1 will be blocked by satellite-*-tier1, etc

[2019-02-14 12:14] jyejare opened #1433 "Pre-Upgrade Scenarios are fetching 'TO_VERSION' urls"
Today @omkarkhatavkar  and me, found that pre-upgrade scenarios are fetching TO_VERSION urls because of SATELLITE_VERSION.

Let's take an example, in 6.4 -> 6.5 upgrade, and in pre-upgrade scenarios, the SATELLITE_VERSION is being exported as 6.5 (which should be 6.4).

Due to which the repo_urls in sat6_repo_urls config file is provinding repos of 6.5(TO_VERSION) (e.g 6.5 tools for 6.4 preupgrade

[2019-02-15 06:49] san7ket opened #1434 "Investigate Polarion job failures , look into beteguese parsing"

[2019-02-15 06:50] san7ket commented on #1434
Issue was due to the PY2 env needed for betelguese was unable to parse the fstring literal source in our recently added UI tests.

Fix:
https://github.com/SatelliteQE/robottelo/pull/6742
https://github.com/SatelliteQE/robottelo/pull/6740
https://github.com/SatelliteQE/robottelo/pull/6739

[2019-02-15 06:54] san7ket commented on #1426
@rplevka Can you please take a look the PR casued regression to fail the job

[2019-02-15 06:55] san7ket commented on #1430
@ntkathole could you or @jyejare take this up, It would really help upgrade jobs

[2019-02-15 06:55] san7ket commented on #1395
This is solved

[2019-02-15 06:55] #1395 closed

[2019-02-15 06:56] san7ket commented on #1387
Solved, It was not CI issue, but the build was facing dependencies issues

[2019-02-15 06:56] #1387 closed

[2019-02-15 06:56] #1352 closed

[2019-02-15 06:58] san7ket commented on #1347
@ntkathole Is this still relevant?

[2019-02-15 07:05] san7ket commented on #511
@kbidarkar We just have the java part missing right ? as i see we have the ruby and python is implemented

[2019-02-15 07:10] san7ket commented on #485
recent versions have it already created and sourced. Closing the issue

[2019-02-15 07:10] #485 closed

[2019-02-15 07:11] san7ket commented on #829
@ntkathole can we close this?

[2019-02-17 18:29] ntkathole commented on #1430
@san7ket this is already implemented. See here: https://github.com/SatelliteQE/robottelo-ci/blob/master/jobs/satellite6-automation.yaml#L808

If you mean to say something different, please let us know, else we can close this.

[2019-02-18 09:58] #1430 closed

[2019-02-18 09:59] #1347 closed

[2019-02-21 10:17] #1434 closed

[2019-02-21 10:17] san7ket opened #1441 "Investigate Job hang on UI test execution"

[2019-02-21 10:18] san7ket commented on #1441
https://github.com/SatelliteQE/robottelo-ci/pull/1440

[2019-02-27 07:04] san7ket opened #1450 "Document all the Manual Interventions and reason for them"
Any Job that requires a manual intervention and what would be the reason for those manual interventions, should be recorded.
This can be a document with all the Actions and reason we perform those actions.
Information regarding all Jobs that help test the product is required.

[2019-02-27 07:06] san7ket commented on #1450
Interested contributors can reach out to me for more details

[2019-02-27 07:07] san7ket opened #1451 "Configure UMB Message when we start pipeline and end pipeline"

[2019-02-27 07:07] san7ket opened #1452 "MIgration from OSP to upshift"

[2019-02-27 07:08] san7ket opened #1453 "Look into cachet plugin for scanning Infra before we trigger job"

[2019-02-27 07:08] san7ket commented on #1433
Is this still valid

[2019-02-27 07:09] san7ket commented on #1349
Added few other fixes, closing this issue for now

[2019-02-27 07:09] #1349 closed

[2019-02-27 07:10] #524 closed

[2019-02-27 07:11] san7ket commented on #353
Would you like to work on this ? I think it's valid

[2019-02-27 07:44] san7ket commented on #305
No new updates on discussion, will close this for now, as we also have the Open Blue Ocean now

[2019-02-27 07:44] #305 closed

[2019-02-27 07:45] san7ket commented on #32
We have a capsule sanity Job, that install capsules with satellite

[2019-02-27 07:45] #32 closed

[2019-02-27 07:45] san7ket commented on #829
@ntkathole Closing this

[2019-02-27 07:45] #829 closed

[2019-02-27 07:46] san7ket commented on #902
@ntkathole do you think this is valid,

[2019-02-27 07:46] #1441 closed

[2019-02-27 07:46] san7ket commented on #1426
PR reverted

[2019-02-27 07:50] ntkathole commented on #902
Yes, this is valid. Hopefully I will look into it once I get time.

[2019-02-27 09:33] jyejare commented on #1433
@san7ket , Raised #1454

[2019-02-27 11:54] #1433 closed

[2019-02-27 12:14] san7ket commented on #1450
This is a P1 task, @latran @lpramuk @rplevka anyone interested to take this up ?

[2019-02-27 16:26] mirzal commented on #1450
I don't know nearly enough about our CI to take this all on my own, but I am interested in this and would like to help.

[2019-02-27 19:10] latran commented on #1450
Same with @mirzal 's comment.

[2019-02-28 09:04] ntkathole opened #1456 "Raise ticket to delete volumes on openstack"
There are 2 volumes with name customerdb* are corrupted. Please create a ticket to delete those.

[2019-03-01 07:00] ntkathole opened #1457 "Verify and fix shade for upshift"
As we move to upshift, verify and fix shade automation works perfectly with upshift.

[2019-03-01 07:02] ntkathole opened #1458 "Create and keep all dbs on upshift for customer db automation"
As we couldn't migrate stable-customerdb VM from OpenStack to upshift, let's create it.

[2019-03-01 07:41] san7ket commented on #1456
Created, PNT0498208

[2019-03-01 07:45] san7ket commented on #1450
So, you need to look into and ask around folks what are mission critical jobs, that are run before we can say we are good to release. This is apart from the automation that we run.
One example is DB upgrade Job, BaseImage creation job.

This also includes the manual intervention we do in CI. Like Re-triggering of job in-case of failures. etc .

I will go ahead and take this up, as it's on a deadli

[2019-03-01 07:46] san7ket opened #1459 "Investigate the failure's of recent Upstream tier Jobs"
@lpramuk @rplevka @mirzal @latran anyone interested?

[2019-03-01 07:48] san7ket commented on #1459
Task is to investigate failure and report it here, if you can also fix that would be great. If it's an product issue file a upstream issue.

[2019-03-01 08:40] ntkathole opened #1460 "CAPSULE_RHEL7 Environment variable reference has '='"
[code]

[2019-03-01 08:41] ntkathole commented on #1460
Also remove equals to sign from capsule_rhel7 repo https://github.com/SatelliteQE/robottelo-ci/blob/master/scripts/satellite6-rcm-compose.sh#L6

[2019-03-01 16:47] latran commented on #1459
@san7ket Sure I can try to pick this up.  Mind you I haven't done much on upstream tier jobs, but I'm happy to learn and help out.  How/where do I begin?

[2019-03-01 20:20] pgagne commented on #1460
@ntkathole I think we need 2 issues for this, one for automation tools and one for robottello ci. I created https://github.com/SatelliteQE/automation-tools/issues/756 for the automation tools one.

lets keep this one for the robottelo-ci capsule_rhel7 issue.

I will try to do PRs to fix both of these.

[2019-03-01 21:45] latran commented on #1459
I reviewed the latest 6.5 tier 1 job and found these test case failures:

tests/foreman/api/test_docker.py::test_positive_update_name

tests/foreman/api/test_docker.py::test_positive_update_upstream_name

tests/foreman/api/test_host.py::test_positive_update_managed_parameter

tests/foreman/api/test_syncplan.py::test_positive_update_interval

tests/foreman/api/test_multiple_paths.py::test_positive_

[2019-03-04 08:50] san7ket commented on #1459
@latran I don't mean the test failures, I meant the Job failures, why the Job turns red.
Test failures are the responsiblity of component owner.
You can find the latest failures ` Jenkins-Server/job/automation-upstream-nightly-tier1-rhel7/182/`
If you are interested to take this up, I can show you where to look, in tuesday's call.

[2019-03-04 08:58] #1460 closed

[2019-03-04 13:51] latran commented on #1459
@san7ket yes that sounds good.  Let's do that.

[2019-03-05 08:14] ntkathole opened #1463 "Fix installer to populate chain for beta"
[code]

[2019-03-05 12:45] san7ket opened #1465 "Look into selenium 3.141.0"
Tasks:

- [x] Bump to 3.141.0

- [x] Trigger Automation, Analyse Results

- [x] Switch to 3.141.0 if results are good and update all automation or revert back

[2019-03-06 13:39] rplevka commented on #353
@san7ket i'm not planning to look into this any time soon as I'm currently not involved in robottelo-ci so much

[2019-03-07 09:19] #637 closed

[2019-03-07 22:57] rplevka commented on #1459
@san7ket @latran
It is a real issue, pulp services seem to be failing after doing `katello-service restart`:
[code]
@evgeni  @ekohl - upstream nightly (provisioned using forklift) builds have been failing like this since 2018-02-28 (however, maybe earlier, we have a gap between 2018-02-17 and 2018-02-28). Could you look into this? ping me if you need more info

[2019-03-10 04:18] ntkathole commented on #1456
No updates. Re-opening.

[2019-03-11 18:40] ntkathole opened #1468 "Fix sourcing password for openstack"
[code]

[2019-03-11 18:40] ntkathole commented on #1468
See job 1067 cust-db

[2019-03-12 08:07] san7ket commented on #1468
Looks like I missed adding global passwords sourcing in job , will fix

[2019-03-12 20:17] #1468 closed

[2019-03-12 20:18] #1458 closed

[2019-03-12 20:18] #1457 closed

[2019-03-12 20:18] #1452 closed

[2019-03-12 20:18] #1450 closed

[2019-03-12 20:19] #1426 closed

[2019-03-13 07:31] #1456 closed

[2019-03-13 09:20] evgeni commented on #1459
@rplevka so the initial install is fine, but after you do a restart, pulp fails to start up properly?

[2019-03-14 14:38] jameerpathan111 opened #1470 "add parameters required to register satellite in foreman-maintain-automation.sh"
Changes are needed to implement test scenario [https://github.com/SatelliteQE/testfm/issues/57](url)

[2019-03-18 14:17] jameerpathan111 opened #1473 "use satellite-maintain command instead of foreman-maintain for satellite 6.5"

[2019-03-22 10:45] jameerpathan111 commented on #1473
Fixed in #1475

[2019-03-22 10:45] #1473 closed

[2019-03-22 10:45] jameerpathan111 commented on #1470
Fixed in  #1475

[2019-03-22 10:45] #1470 closed

[2019-03-23 06:42] jameerpathan111 opened #1479 "Fix FM automation failing due to missing DISTRO var and invalid sed expression"

[2019-03-26 09:28] #1479 closed

[2019-03-27 05:25] #1463 closed

[2019-04-24 02:00] ntkathole opened #1492 "Regression from PR 1442"
We are trying to source same config `config/sat6_upgrade.conf` file two times  which has readonly variables. This causes failure of job as `config/sat6_upgrade.conf: line 18: source_image: readonly variable`. This issue occurs only when satellite-hostname if not passed (i.e. when upgrade images are used).

 See satellite6-upgrader Job : 1166.

[2019-04-30 07:14] #1465 closed

[2019-04-30 09:57] jyejare commented on #1492
@ntkathole , I think this needs to be fixed from gitlab source, to skip the export of readonly if it is already exported.
Also, We can't skip/delete the source of that file twice/thrice as the variables in file dynamically changes according to the pre or post upgrade status while sourcing.

[2019-05-01 04:19] ntkathole opened #1495 "Regression : SAT_HOST is exported before RHEV_SAT_HOST"
https://github.com/SatelliteQE/robottelo-ci/blob/8e5c899a9b467ab7549f713694272e1040cd1325/scripts/satellite6_upgrader.sh#L26

Another regression from PR #1442 . We are trying to export SAT_HOST before we have value exported of RHEV_SAT_HOST. This causes value of SAT_HOST to None and later fab tasks gets failed.

See satellite6-upgrader job 1178.

[2019-05-04 14:05] san7ket opened #1502 "Fix reporting job to give report from all jobs in trigger"

[2019-05-06 07:38] #1427 closed

[2019-05-16 13:07] pondrejk opened #1513 "standalone automation fails with TOOLS_RHEL8: unbound variable"
running upgrade jobs on rhel7 via standalone automation job (run 1512) fails with:
"/tmp/shiningpanda8500753719968291938.sh: line 23: TOOLS_RHEL8: unbound variable"

The job should handle if the variable is unpopulated

[2019-05-21 18:59] pgagne opened #1518 "Errors when associating default capsule to Org/Loc in satellite populate"
Populate jobs seems to be failing somewhere around here:

https://github.com/SatelliteQE/robottelo-ci/blob/652c550880471b156ae8473e6f7a7c9e2a76a4f7/scripts/satellite6-populate-template.sh#L454-L456

With the following error (not sure which line is causing it yet).
[code]
I seem to recall some historic reason we needed to do this, but if anyone knows for a fact please add it to the issue. I am tryi

[2019-05-21 19:08] swadeley commented on #1518
Hello
Re manual install
 I believe integrated Capsule is there and just needs "--foreman-proxy-register-in-foreman true" to enable it. Thats been there for a few releases I think.

[2019-05-22 05:33] san7ket commented on #1502
Merged

[2019-05-22 05:33] #1502 closed

[2019-05-22 05:33] san7ket commented on #1492
Is this still valid?

[2019-05-22 05:33] san7ket commented on #1495
Is this still Valid

[2019-05-22 05:34] #1459 closed

[2019-05-22 05:35] san7ket commented on #1330
Blocked on Infra .

Please feel free to re-open, if this still needs fixing

[2019-05-22 05:35] #1330 closed

[2019-05-22 05:35] san7ket commented on #1296
Please feel free to re-open, if this still needs fixing

[2019-05-22 05:35] #1296 closed

[2019-05-22 05:36] san7ket commented on #1035
Please feel free to re-open, if this still needs fixing

[2019-05-22 05:36] #1035 closed

[2019-05-22 05:37] san7ket commented on #511
Please feel free to re-open, if this still needs fixing

[2019-05-22 05:37] #511 closed

[2019-05-23 06:38] ntkathole commented on #1492
Fixed via gitlab PR 215

[2019-05-23 06:38] #1492 closed

[2019-05-23 06:38] ntkathole commented on #1495
Yes it is valid

[2019-05-23 11:00] san7ket commented on #1495
Is @jyejare going to work on this ?

[2019-05-23 11:06] #1513 closed

[2019-05-23 11:07] san7ket commented on #1518
@ntkathole is this solved, I think it is ?

[2019-05-23 11:20] ntkathole commented on #1518
@san7ket nope, @jameerpathan111 is loking into it whether it is bug or valid change.

[2019-05-24 06:57] jameerpathan111 commented on #1518
@vijay8451 has already filed BZ issue for this.
[https://bugzilla.redhat.com/show_bug.cgi?id=1709695](https://bugzilla.redhat.com/show_bug.cgi?id=1709695)

[2019-05-24 08:28] jyejare commented on #1495
Will fix it today , Thanks guys for bringing it up

[2019-05-24 14:40] jyejare commented on #1495
I am really amazed to see that while executing, it sourced compute resources conf file but not the upgrade conf file below that:

https://github.com/SatelliteQE/robottelo-ci/blob/8e5c899a9b467ab7549f713694272e1040cd1325/scripts/satellite6_upgrader.sh#L21

[2019-05-24 15:19] jyejare commented on #1495
I dont know how but somehow but:
In Preupgrade - setupPrerequisites: source config/sat6_upgrade.conf isnt happening / delaying.
and
InUpgrade - setupUpgrade: source config/compute_resources.conf isnt happening /  delaying.

[2019-05-28 08:25] san7ket commented on #1495
Don't think it's a issue with jenkins since it doesn't happen any where else

[2019-05-28 08:42] jyejare commented on #1495
I tried sourcing through the Jenkins system later, it sourced as expected.

[2019-05-28 09:15] rplevka commented on #1518
I think this has something to do with a fact that some host is assigned to to the capsule in question and this host does not belong to the org/locs you're trying to move the capsule into (in other words, you're creating a mismatch)

[2019-07-04 13:39] devendra104 opened #1550 "Parallel job execution for DB upgrades gets failed."
**Description**: All DB upgrade job uses the same virtual environment for the job builder.

**Problem Summary**: This problem observed If the start time gap of two jobs less than ~30-40 seconds, During that time Jenkins execute environment preparation in which virtual environment  runs with the clear option, and If we execute the second job just after the first job then the Second job first clear

[2019-07-05 07:32] ntkathole commented on #1550
Fixed!

[2019-07-05 07:32] #1550 closed

[2019-07-05 07:33] ntkathole commented on #1518
Issue : https://bugzilla.redhat.com/show_bug.cgi?id=1725250

[2019-07-05 07:33] #1518 closed

[2019-07-09 06:48] jameerpathan111 opened #1552 "add temporary fix flag to satellite6-libvirt-install"
satellite6-libvirt-install job does not have temporary fix option like satellite-installer job.

[2019-07-12 16:44] ntkathole opened #1557 "Option --environment-id is deprecated. Use --puppet-environment-id instead"
environment command is deprecated and will be removed in one of the future versions. Please use puppet-environment command instead.

satellite-populate.sh template has environment command .

[2019-07-15 06:52] ntkathole commented on #1557
Ref : https://bugzilla.redhat.com/show_bug.cgi?id=1713222

[2019-07-22 04:52] #1552 closed

[2019-08-05 07:34] san7ket commented on #1557
But the older commands should not fail. If they are we should report it

[2019-08-15 14:48] pgagne opened #1569 "Need Installer option to specify custom maintaince repo for downstream installs."
See:
https://github.com/SatelliteQE/automation-tools/pull/798
https://github.com/SatelliteQE/automation-tools/issues/796

Need to add parameter to specify satellite maintenance repo to be used along with satellite repo when doing internal/downstream installs.

[2019-08-23 11:55] jameerpathan111 opened #1571 "Add foreman-maintain version to build-name of Foreman-Maintain automation."

[2019-08-27 07:58] #1571 closed

[2019-09-03 07:38] ntkathole opened #1582 "Use shared lib for file writing in nailgun-reviewer job"
https://github.com/SatelliteQE/robottelo-ci/pull/1559#discussion_r320127107

[2019-09-04 14:18] #1569 closed

[2019-09-12 14:24] mirzal opened #1596 "[QUESTION] Transferring file between jobs/pipelines"
I need help in designing our CI around component owners mapping.

Due to management workflow requirements, such map must be created dynamically based on data from bugzilla and Mojo. I already have a Python library capable of creating this map [1], as well as thin CLI wrapper that writes map in YAML format to file [2].

One of the limitations is that Mojo requires authentication to read data. Obvio

[2019-09-19 05:20] san7ket commented on #1596
I agree with nikhil, Let's have one separate job to do all this. And I guess we can add it in pipeline
Somewhere before automation begins.

Do we need it to run everyday, I think once a week would be sufficient , and or whenever something changes in component owner repo.

At this point, I think it's best we don't create more standalone jobs and have it as part of automation pipeline.

[2019-09-19 13:28] jameerpathan111 opened #1599 "Add Sat_hostname in testfm.properties"

[2019-09-19 13:42] #1599 closed

[2019-09-20 19:24] mirzal commented on #1596
Data is taken from Mojo and Bugzilla, and I guess we don't have any way to have job triggered by these.

I would say daily is about right frequency. Component owners don't change often, but if they do, we want up-to-date data available sooner than later.

I'm not sure if I understand. I submitted PR #1602 . I added new yaml file and groovy file - did I effectively create new standalone job, or is

[2019-09-20 19:24] #1596 closed

[2019-09-23 13:22] jameerpathan111 opened #1605 "Use pytest option "-s" shortcut for "--capture=no" in foreman-maintain-automation."
We are going to use [fabric](http://docs.fabfile.org/en/2.5/) in Testfm and were facing issue[1] during test execution. After few trial and error, searching over internet for solution we have found that the '-s' option needs to be used to solve the problem.

[1] `OSError: reading from stdin while output is captured`
[code]

[2019-09-24 06:26] #1605 closed

[2019-09-24 12:05] devendra104 opened #1609 "Customer DB upgrade Job porting from freestyle project to pipeline"
In this issue, we will perform the porting of existing customer DB freestyle job into the pipeline.

[2019-09-30 06:41] #1557 closed

[2019-10-06 00:28] #1582 closed

[2019-10-31 08:59] jameerpathan111 opened #1645 "Add support for Testfm issue #97"
Changes needs to be done in robottelo-ci to fix Testfm issue [https://github.com/SatelliteQE/testfm/issues/97](https://github.com/SatelliteQE/testfm/issues/97)

[2019-11-01 04:10] #1645 closed

[2019-11-05 09:03] jameerpathan111 opened #1650 "Fix FMA groovy script."

[2019-11-05 13:24] #1650 closed

[2019-11-05 13:41] #1609 closed

[2019-11-11 14:59] rplevka opened #1662 "[RFE] Implement a smart teardown for the pipelines"
Currently, the pipeline `post` section executed on `failure` tries perform several actions (spanning from archiving the artifacts to destroying the domain) not taking into account the stage it failed on.

This usually causes another failures being raised during the teardown itself, making the failure root cause being buried under a lot of unnecessary logs and failure messages.

If we could keep tr

[2019-11-12 09:04] jameerpathan111 opened #1664 "Fix FMA for adding test results."

[2019-11-12 11:18] san7ket opened #1667 "Eliminate separate stage for rhai and destructive tests"

[2019-11-12 11:18] san7ket opened #1668 "Covert MultiJob into Pipeline Job"

[2019-11-12 12:31] #1664 closed

[2019-11-13 08:10] #1348 closed

[2019-12-03 08:41] rplevka opened #1697 "Tiers pipeline archives artifacts before generating foreman-debug report"
https://github.com/SatelliteQE/robottelo-ci/blob/master/workflows/qe/satellite6-automation/satellite6-tiers.groovy#L348
Obviously, this results in no `foreman-debug.tar.xz` being archived as artifact

[2019-12-03 11:18] #1697 closed

[2020-01-12 13:47] ntkathole opened #1728 "Clone according to satelite versions"
https://github.com/SatelliteQE/robottelo-ci/blob/ac317aae4a1587ba1b24c3a63b81154e6182fce3/workflows/qe/satellite6-automation/satellite6-tiers.groovy#L117

Robottelo is always cloned from master causing many automation tests failures.

[2020-01-12 13:52] ntkathole opened #1729 "Add bugzilla creds for 6.4/6.5 versions"
New bugzilla logic is not cherry-pick for 6.5/6.4. Need fix same as https://github.com/SatelliteQE/robottelo-ci/pull/1727 for tier automation

https://github.com/SatelliteQE/robottelo-ci/blob/master/workflows/qe/satellite6-automation/satellite6-tiers.groovy#L139

[2020-01-13 07:28] #1729 closed

[2020-01-13 14:20] ntkathole commented on #1728
Fixed via https://github.com/SatelliteQE/robottelo-ci/pull/1732

[2020-01-13 14:20] #1728 closed

[2020-01-22 15:02] tstrych opened #1739 "foreman-debug is missing in automation"
I was unable to find in our automation `foreman-debug.tar.xz`, and with rplevka help, we found where the problem is.

In #1697 - Tiers pipeline archives artifacts before generating foreman-debug report

And I found in #1703  - there was move with https://github.com/SatelliteQE/robottelo-ci/blob/master/workflows/qe/satellite6-automation/satellite6-tiers.groovy#L336

As said in issue #1697 Because o

[2020-01-27 13:22] tstrych commented on #1739
issue was solved with #1740 ,closing.

[2020-01-27 13:22] #1739 closed

[2020-01-31 09:53] rplevka opened #1750 "enable dhcpd in tier4 job"
we have some provisioning tests in `tier4` which require `dhcpd` to be running.
Since this was disabled recently so it can coexist with some different tier, we might need to reorganize the ordering somehow

[2020-01-31 15:43] #1750 closed

[2020-02-04 12:25] devendra104 opened #1753 "Add Workaround Section in Upgrade tier job."
The purpose of this section is used to apply the workaround before the upgrade.
Pass the workaround during the upgrade job trigger.

[2020-02-04 12:31] devendra104 opened #1754 "Removing the hard coded details from upgrade job pipeline"
The purpose of this issue to remove the hardcoded details from the pipeline.

[2020-02-05 08:51] devendra104 opened #1755 "To create a job-trigger for customer DB upgrade"
In this issue we will create a job-trigger for a customer DB upgrade, It will help us to trigger multiple DB upgrade jobs in a single trigger.

[2020-02-17 09:17] devendra104 opened #1760 "Upgrade existence tests on Customer DB"
By using this ticket, We can able to execute pre and post-upgrade existence test cases in customer DB upgrade.

[2020-03-09 08:02] devendra104 opened #1767 "Report portal failed to update the test result due to version issue on reportportal-client."
The latest version of report-portal client does not support Report Portal versions below 5.0.0, So we need to change the report-portal client version according to that.

Error:
[code]

Reason: Latest version is not supported.

reportportal-client-5.0.1:
[code]
Solution: We need to update the supported reportportal-client version.

 reportportal-client~=3.0:
[code]

[2020-03-09 09:09] rplevka commented on #1767
This issue is out of scope of this project.
I addressed this downstream.
we got to pin the requirements of our client to
https://github.com/reportportal/client-Python/releases/tag/3.2.3

[2020-03-09 09:18] devendra104 commented on #1767
This issue is already addressed in downstream so I am closing it from here.

[2020-03-09 09:18] #1767 closed

[2020-03-19 17:24] pondrejk opened #1775 "Configuring IDM_REALM unsuccessful"
Realm tests in robottelo fail for some time, apparently expecitng some idm setup that didn't take place (checked on the machine)
I'm not well acquainted with robottelo-ci but I suppose that exporting IDM_REALM here https://github.com/SatelliteQE/robottelo-ci/blob/6a113e161135fc7698ca680a63351524a6e8bf63/scripts/satellite6-provisioning.sh#L20

is supposed to trigger this part in product_install() h

[2020-03-20 09:14] pondrejk commented on #1775
Looking at robottelo/tests/foreman/ui/test_ldap_authentication.py it seems that it does the same idm configuration in https://github.com/SatelliteQE/robottelo/blob/master/tests/foreman/ui/test_ldap_authentication.py#L212

I suppose this wouldn'ŧ be necessary if product_install() executed idm enroll properly

[2020-03-20 17:42] lpramuk commented on #1775
It's true by default in provisioning job:
https://github.com/SatelliteQE/robottelo-ci/blob/master/jobs/parameters/satellite6_authentication_parameters.yaml#L20

but trigger job passes its environment to provisioning job and this seem to be broken

[2020-03-23 11:47] pondrejk commented on #1775
The IDM_REALM is the only boolean parameter that is passed from trigger and the only one that misbehaves:
https://github.com/SatelliteQE/robottelo-ci/blob/fd789c4a6670461366d3600b58ca96f28391f32a/workflows/qe/satellite6-automation/satellite6-trigger.groovy#L103

The same problem occurs in satellite6-sanity-check-6.7 job that also receives IDM_REALM boolean.
There was a simmilar bug reported in htt

[2020-03-24 07:45] pondrejk commented on #1775
note to self: if #1776 ineffective, alternate solution would be to remove passdown of IDM_REAL entirely from trigger. Presumably the provisioning job would then use it's default. This would remove the possibility to set the value from the trigger, though this didn't happen anyway with hard setting to true

[2020-04-07 18:07] #1775 closed

[2020-04-09 05:20] omkarkhatavkar opened #1780 "After latest manifest upload into the satellite, causing "No repositories available.""
After uploading the latest manifest into the satellite. below observation is seen.

In Satellite itself, if I go to Red Hat Repositories and look at e.g. the-7-server-rpms, it says "No repositories available." Out of recommended repos, only satellite-tools-6.7-for-the-8-x86_64-rpms has any repository available.

Can we make changes in subscription to fix this?

[2020-04-23 14:28] lpramuk commented on #1780
Wanted to check manifest setup at customer portal
[](https://access.redhat.com/management/subscription_allocations)

I'm getting:
[code]

[2020-04-23 14:35] lpramuk commented on #1780
Yay, succeeded getting in.

For Subscription Allocations: `robottelo-automation` I changed
Type:  from `Satellite 6.5` to `Satellite 6.7`

Lets see if it helps

[2020-04-28 19:50] lpramuk commented on #1780
Ok. Updating manifest type to `Satellite 6.7` fixed the issue

[2020-04-29 08:07] vijay8451 commented on #1780
I saw it and looks reverted back to `6.5`

[2020-04-30 09:06] lpramuk commented on #1780
hehe, then I have no clue what's going on,
I wasn't even able to create `robottelo-automation-v2` manifest

[2020-04-30 09:15] vijay8451 commented on #1780
I have set the 6.7 again yesterday and waiting if it moved back :)

[2020-05-04 08:55] vijay8451 commented on #1780
it's back to 6.5

[2020-10-02 10:48] lpramuk commented on #1780
I fixed this by https://github.com/SatelliteQE/automation-tools/pull/845

[2020-10-02 10:48] #1780 closed

[2020-10-02 10:50] #1754 closed

[2020-10-23 02:59] hkx303 opened #1850 "Add virt-who plugin tests to Satellite Jenkins CI"
**Description**
Now, we are using the new structure for virt-who plugin testing. To test virt-who cases, we should only have robottelo.properties and virtwho.properties and then, run the Pytest command(`pytest robottelo/tests/foreman/virtwho`). it is easier to consolidate the virt-who plugin test cases to Jenkins jobs.
We would like to make it a stage in the satellite pipelines recently. And it is

[2020-12-04 13:38] mshriver opened #1873 "docker-py dependency hell with pip 20.3"
There is a dependency resolution failure in the tier jobs due to the new pip resolver in 20.3.

docker-py is very outdated, and is no longer maintained. It has old package dependencies that were ignored with the legacy pip resolver.

1. docker-py dependency needs to be refactored to use docker package: https://pypi.org/project/docker/

2. Until the dependency on docker-py is cleared, we need to us

[2020-12-04 13:45] mshriver commented on #1873
I'm planning on updating all pipelines where docker-py is explicitly installed to restrict pip and use the legacy resolver.

[2020-12-08 18:20] lpramuk commented on #1451
This is already implemented in new CI.
For old CI we are never going to implement it.

[2020-12-08 18:20] #1451 closed

[2020-12-08 18:22] lpramuk commented on #353
We are never going to implement it.

[2020-12-08 18:22] #353 closed

[2020-12-08 18:24] #1873 closed